### Download and Store Data Files

In [1]:
import os
import ssl
import sys
import urllib.request
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

#### Downloading the Files

In [2]:
gradurls = {'https://infohub.nyced.org/docs/default-source/default-document-library/2020-graduation_rates_public_school.xlsx': 'grad_rates.xlsx',
            'https://infohub.nyced.org/docs/default-source/default-document-library/2020-graduation_rates_public_charters.xlsx': 'charter_grad_rates.xlsx'}
sqrurls = {'https://infohub.nyced.org/docs/default-source/default-document-library/201920_hs_sqr_results.xlsx': 'sqr2020.xlsx',
           'https://infohub.nyced.org/docs/default-source/default-document-library/201819_hs_sqr_results.xlsx': 'sqr2019.xlsx',
           'https://infohub.nyced.org/docs/default-source/default-document-library/201718_hs_sqr_results.xlsx': 'sqr2018.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2016-17_hs_sqr.xlsx': 'sqr2017.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2015_2016_hs_sqr_results_2017_01_05.xlsx': 'sqr2016.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2014_2015_hs_sqr_results_2016_04_08.xlsx': 'sqr2015.xlsx'}
demourls = {'https://infohub.nyced.org/docs/default-source/default-document-library/demographic-snapshot-2015-16-to-2019-20-(public).xlsx': 'demo.xlsx'}
urls = [gradurls, sqrurls, demourls]

In [3]:
for url in urls:
    try:
        [urllib.request.urlretrieve(x, 'data/'+url[x]) for x in url]
    except:
        print("Trying the next url")

Trying the next url
Trying the next url
Trying the next url

#### Graduation Rate Files

In [4]:
gradrates = pd.read_excel('data/grad_rates.xlsx', sheet_name = "All")
charterrates = pd.read_excel('data/charter_grad_rates.xlsx', sheet_name = "All")

In [5]:
gradrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']].head()

,DBN,School Name,Cohort Year,Cohort,# Total Cohort,# Grads,# Dropout,# Still Enrolled
0,01M292,ORCHARD COLLEGIATE ACADEMY,2016,4 year August,31,29,1,1
1,01M292,ORCHARD COLLEGIATE ACADEMY,2015,4 year August,28,25,3,0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2014,4 year August,29,28,1,0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2013,4 year August,36,25,7,3
4,01M292,ORCHARD COLLEGIATE ACADEMY,2012,4 year August,44,24,10,10

In [6]:
charterrates[['DBN', 'School Name', 'Cohort Year', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']].head()

,DBN,School Name,Cohort Year,# Total Cohort,# Grads,# Dropout,# Still Enrolled
0,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2012,37,34,0,3
1,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2011,37,28,1,8
2,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2010,31,26,0,5
3,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2009,31,20,0,3
4,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2012,37,34,0,3

In [7]:
all_grad_rates = pd.concat([gradrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']],
                            charterrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']]], 
                           ignore_index=True)
all_grad_rates[['# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']] = all_grad_rates[['# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']].apply(pd.to_numeric, errors='coerce')

In [8]:
all_grad_rates.to_csv('data/clean/all_grad_rates.csv')

In [9]:
all_grad_rates.head()

,DBN,School Name,Cohort Year,Cohort,# Total Cohort,# Grads,# Dropout,# Still Enrolled
0,01M292,ORCHARD COLLEGIATE ACADEMY,2016,4 year August,31,29.0,1.0,1.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2015,4 year August,28,25.0,3.0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2014,4 year August,29,28.0,1.0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2013,4 year August,36,25.0,7.0,3.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2012,4 year August,44,24.0,10.0,10.0

#### SQR Files

In [10]:
tabs = ['Summary', 'Student Achievement', 'Closing the Achievement Gap', 'Framework', 'Additional Info']
sqr_files = ['sqr2020.xlsx', 'sqr2019.xlsx', 'sqr2018.xlsx', 'sqr2017.xlsx', 'sqr2016.xlsx', 'sqr2015.xlsx']

In [11]:
summary = {}
stud_achieve = {}
closing_gap = {}
framework = {}
add_info = {}

for f in sqr_files:
    summary[f] = pd.read_excel('data/'+f, sheet_name='Summary')
    stud_achieve[f] = pd.read_excel('data/'+f, sheet_name='Student Achievement')
    closing_gap[f] = pd.read_excel('data/'+f, sheet_name='Closing the Achievement Gap')
    framework[f] = pd.read_excel('data/'+f, sheet_name='Framework')
    add_info[f] = pd.read_excel('data/'+f, sheet_name='Additional Info')

In [12]:
summary['sqr2020.xlsx'].columns = summary['sqr2020.xlsx'].iloc[2]
summary['sqr2019.xlsx'].columns = summary['sqr2019.xlsx'].iloc[2]
summary['sqr2018.xlsx'].columns = summary['sqr2018.xlsx'].iloc[0]
summary['sqr2017.xlsx'].columns = summary['sqr2017.xlsx'].iloc[0]
summary['sqr2016.xlsx'].columns = summary['sqr2016.xlsx'].iloc[0]
summary['sqr2015.xlsx'].columns = summary['sqr2015.xlsx'].iloc[0]

In [13]:
summary_cols = ['DBN','Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']
summary['sqr2019.xlsx'] = summary['sqr2019.xlsx'][summary_cols]
summary['sqr2018.xlsx'] = summary['sqr2018.xlsx'][summary_cols]
summary['sqr2017.xlsx'] = summary['sqr2017.xlsx'][summary_cols]
summary['sqr2016.xlsx'] = summary['sqr2016.xlsx'][summary_cols]
summary['sqr2015.xlsx'] = summary['sqr2015.xlsx'][summary_cols]

In [14]:
summary['sqr2020.xlsx'] = summary['sqr2020.xlsx'][['DBN','Enrollment',
                         'Student Percent - Asian','Student Percent - Black','Student Percent - Hispanic',
                         'Student Percent - White', 'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                         'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                         'Average Student Attendance (through Feb-2020 only)',
                         'Percent of Students Chronically Absent (through Feb-2020 only)']]

In [15]:
summary['sqr2020.xlsx'].rename(columns={'Student Percent - Asian':'Percent Asian',
                                        'Student Percent - Black':'Percent Black',
                                        'Student Percent - Hispanic': 'Percent Hispanic',
                                        'Student Percent - White': 'Percent White', 
                                        'Average Student Attendance (through Feb-2020 only)' : 'Student Attendance Rate',
                                        'Percent of Students Chronically Absent (through Feb-2020 only)':'Percent of Students Chronically Absent'}, inplace=True)

In [16]:
summary['sqr2020.xlsx']['SQR Year'] = '2020'
summary['sqr2019.xlsx']['SQR Year'] = '2019'
summary['sqr2018.xlsx']['SQR Year'] = '2018'
summary['sqr2017.xlsx']['SQR Year'] = '2017'
summary['sqr2016.xlsx']['SQR Year'] = '2016'
summary['sqr2015.xlsx']['SQR Year'] = '2015'

In [17]:
summary_df = pd.concat(summary).reset_index().drop(['level_0', 'level_1'], axis = 1)
summary_df = summary_df[summary_df.DBN != 'DBN']

In [18]:
summary_df[['Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']] = summary_df[['Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']].apply(pd.to_numeric, errors='coerce')

In [19]:
stud_achieve['sqr2020.xlsx'].columns = stud_achieve['sqr2020.xlsx'].iloc[2]
stud_achieve['sqr2019.xlsx'].columns = stud_achieve['sqr2019.xlsx'].iloc[2]
stud_achieve['sqr2018.xlsx'].columns = stud_achieve['sqr2018.xlsx'].iloc[0]
stud_achieve['sqr2017.xlsx'].columns = stud_achieve['sqr2017.xlsx'].iloc[0]
stud_achieve['sqr2016.xlsx'].columns = stud_achieve['sqr2016.xlsx'].iloc[0]
stud_achieve['sqr2015.xlsx'].columns = stud_achieve['sqr2015.xlsx'].iloc[0]

In [20]:
sqrcols = ["DBN", "N count - 10+ Credits in 1st Year - All Students",
                              "Metric Value - 10+ Credits in 1st Year - All Students",
                              "N count - 10+ Credits in 1st Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                              "N count - 10+ Credits in 2nd Year - All Students",
                              "Metric Value - 10+ Credits in 2nd Year - All Students",
                              "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                              "N count - 10+ Credits in 3rd Year - All Students",
                              "Metric Value - 10+ Credits in 3rd Year - All Students",
                              "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]
stud_achieve['sqr2020.xlsx'] = stud_achieve['sqr2020.xlsx'][sqrcols]
stud_achieve['sqr2019.xlsx'] = stud_achieve['sqr2019.xlsx'][sqrcols]
stud_achieve['sqr2018.xlsx'] = stud_achieve['sqr2018.xlsx'][sqrcols]
stud_achieve['sqr2017.xlsx'] = stud_achieve['sqr2017.xlsx'][sqrcols]

sqrcols = ["DBN", "Metric Value - Percentage Earning 10+ Credits in First Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year",
           "Metric Value - Percentage Earning 10+ Credits in Second Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year",
           "Metric Value - Percentage Earning 10+ Credits in Third Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year"]
stud_achieve['sqr2015.xlsx'] = stud_achieve['sqr2015.xlsx'][sqrcols]
stud_achieve['sqr2016.xlsx'] = stud_achieve['sqr2016.xlsx'][sqrcols]

In [21]:
sqrcols = {"Metric Value - Percentage Earning 10+ Credits in First Year":"Metric Value - 10+ Credits in 1st Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year": "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
           "Metric Value - Percentage Earning 10+ Credits in Second Year" : "Metric Value - 10+ Credits in 2nd Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year": "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
           "Metric Value - Percentage Earning 10+ Credits in Third Year": "Metric Value - 10+ Credits in 3rd Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year": "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"}
stud_achieve['sqr2015.xlsx'].rename(columns = sqrcols, inplace=True)
stud_achieve['sqr2016.xlsx'].rename(columns = sqrcols, inplace=True)

In [22]:
stud_achieve['sqr2020.xlsx']['SQR Year'] = '2020'
stud_achieve['sqr2019.xlsx']['SQR Year'] = '2019'
stud_achieve['sqr2018.xlsx']['SQR Year'] = '2018'
stud_achieve['sqr2017.xlsx']['SQR Year'] = '2017'
stud_achieve['sqr2016.xlsx']['SQR Year'] = '2016'
stud_achieve['sqr2015.xlsx']['SQR Year'] = '2015'

In [23]:
stud_achieve_df = pd.concat(stud_achieve).reset_index().drop(['level_0', 'level_1'], axis=1)
stud_achieve_df = stud_achieve_df[stud_achieve_df.DBN != 'DBN']

/Users/mguan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [24]:
stud_achieve_df[["N count - 10+ Credits in 1st Year - All Students", "Metric Value - 10+ Credits in 1st Year - All Students",
                 "N count - 10+ Credits in 1st Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                 "N count - 10+ Credits in 2nd Year - All Students",
                 "Metric Value - 10+ Credits in 2nd Year - All Students",
                 "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                 "N count - 10+ Credits in 3rd Year - All Students",
                 "Metric Value - 10+ Credits in 3rd Year - All Students",
                 "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]] = stud_achieve_df[["N count - 10+ Credits in 1st Year - All Students",
                              "Metric Value - 10+ Credits in 1st Year - All Students",
                              "N count - 10+ Credits in 1st Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                              "N count - 10+ Credits in 2nd Year - All Students",
                              "Metric Value - 10+ Credits in 2nd Year - All Students",
                              "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                              "N count - 10+ Credits in 3rd Year - All Students",
                              "Metric Value - 10+ Credits in 3rd Year - All Students",
                              "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]].apply(pd.to_numeric, errors='coerce')

In [30]:
summary_df.merge(stud_achieve_df, how='inner', left_on = ['DBN', 'SQR Year'], right_on = ['DBN', 'SQR Year'])

,DBN,Enrollment,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent Self-Contained,Economic Need Index,...,Metric Value - 10+ Credits in 2nd Year - All Students,Metric Value - 10+ Credits in 2nd Year - School's Lowest Third,Metric Value - 10+ Credits in 3rd Year - All Students,Metric Value - 10+ Credits in 3rd Year - School's Lowest Third,N count - 10+ Credits in 1st Year - All Students,N count - 10+ Credits in 1st Year - School's Lowest Third,N count - 10+ Credits in 2nd Year - All Students,N count - 10+ Credits in 2nd Year - School's Lowest Third,N count - 10+ Credits in 3rd Year - All Students,N count - 10+ Credits in 3rd Year - School's Lowest Third
0,01M292,255.0,0.132,0.244,0.566,0.039,0.127,0.298,0.015,0.832,...,0.568,0.438,0.700,0.333,NaN,NaN,NaN,NaN,NaN,NaN
1,01M448,304.0,0.299,0.250,0.411,0.033,0.194,0.220,0.003,0.812,...,0.872,0.720,0.742,0.533,NaN,NaN,NaN,NaN,NaN,NaN
2,01M450,666.0,0.094,0.221,0.579,0.083,0.018,0.234,0.000,0.610,...,0.870,0.818,0.824,0.700,NaN,NaN,NaN,NaN,NaN,NaN
3,01M509,363.0,0.058,0.399,0.512,0.025,0.091,0.284,0.146,0.767,...,0.627,0.542,0.583,0.407,NaN,NaN,NaN,NaN,NaN,NaN
4,01M539,1735.0,0.385,0.133,0.180,0.286,0.002,0.043,0.000,0.257,...,0.984,0.945,0.984,0.962,NaN,NaN,NaN,NaN,NaN,NaN
5,01M696,545.0,0.171,0.172,0.187,0.453,0.000,0.011,0.000,0.314,...,0.952,0.882,0.963,0.974,NaN,NaN,NaN,NaN,NaN,NaN
6,02M047,169.0,0.012,0.284,0.645,0.053,0.047,0.254,0.083,0.733,...,0.875,0.800,0.881,0.947,NaN,NaN,NaN,NaN,NaN,NaN
7,02M135,193.0,0.057,0.285,0.622,0.026,0.073,0.197,0.010,0.713,...,0.663,0.438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,02M139,193.0,0.036,0.249,0.611,0.088,0.078,0.295,0.016,0.714,...,0.880,0.815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,02M280,97.0,0.072,0.320,0.433,0.155,0.010,0.227,0.000,0.558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,02M282,103.0,0.107,0.243,0.456,0.097,0.039,0.058,0.010,0.616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,02M288,427.0,0.047,0.396,0.522,0.030,0.030,0.157,0.000,0.687,...,0.795,0.647,0.714,0.656,NaN,NaN,NaN,NaN,NaN,NaN
12,02M294,358.0,0.059,0.385,0.413,0.117,0.042,0.260,0.003,0.633,...,0.810,0.708,0.750,0.731,NaN,NaN,NaN,NaN,NaN,NaN
13,02M296,424.0,0.050,0.210,0.712,0.017,0.078,0.175,0.028,0.751,...,0.758,0.516,0.700,0.559,NaN,NaN,NaN,NaN,NaN,NaN
14,02M298,423.0,0.137,0.281,0.454,0.019,0.012,0.116,0.002,0.665,...,0.843,0.697,0.911,0.743,NaN,NaN,NaN,NaN,NaN,NaN
15,02M300,414.0,0.060,0.295,0.592,0.034,0.063,0.208,0.017,0.726,...,0.709,0.500,0.714,0.556,NaN,NaN,NaN,NaN,NaN,NaN
16,02M303,406.0,0.017,0.273,0.675,0.022,0.195,0.251,0.002,0.811,...,0.777,0.688,0.703,0.500,NaN,NaN,NaN,NaN,NaN,NaN
17,02M305,329.0,0.058,0.419,0.492,0.027,0.033,0.188,0.003,0.749,...,0.767,0.630,0.747,0.400,NaN,NaN,NaN,NaN,NaN,NaN
18,02M308,383.0,0.086,0.282,0.569,0.031,0.042,0.300,0.026,0.695,...,0.833,0.758,0.779,0.700,NaN,NaN,NaN,NaN,NaN,NaN
19,02M316,405.0,0.035,0.528,0.393,0.022,0.044,0.185,0.002,0.736,...,0.606,0.481,0.643,0.452,NaN,NaN,NaN,NaN,NaN,NaN
20,02M374,530.0,0.036,0.425,0.442,0.058,0.021,0.175,0.006,0.662,...,0.731,0.609,0.687,0.486,NaN,NaN,NaN,NaN,NaN,NaN
21,02M376,442.0,0.086,0.199,0.398,0.287,0.002,0.129,0.007,0.422,...,0.973,0.944,0.947,0.919,NaN,NaN,NaN,NaN,NaN,NaN
22,02M392,438.0,0.034,0.281,0.621,0.039,0.055,0.183,0.005,0.715,...,0.812,0.605,0.790,0.677,NaN,NaN,NaN,NaN,NaN,NaN
23,02M393,449.0,0.022,0.354,0.595,0.016,0.073,0.223,0.000,0.714,...,0.681,0.590,0.750,0.533,NaN,NaN,NaN,NaN,NaN,NaN
24,02M399,437.0,0.311,0.204,0.403,0.057,0.121,0.174,0.002,0.703,...,0.875,0.727,0.860,0.750,NaN,NaN,NaN,NaN,NaN,NaN
25,02M400,1301.0,0.151,0.147,0.629,0.066,0.071,0.166,0.049,0.690,...,0.767,0.519,0.707,0.500,NaN,NaN,NaN,NaN,NaN,NaN
26,02M407,482.0,0.058,0.141,0.149,0.565,0.000,0.062,0.000,0.258,...,0.966,0.938,0.959,0.905,NaN,NaN,NaN,NaN,NaN,NaN
27,02M408,536.0,0.025,0.262,0.223,0.429,0.002,0.126,0.005,0.330,...,0.941,0.926,0.946,1.000,NaN,NaN,NaN,NaN,NaN,NaN
28,02M411,451.0,0.548,0.062,0.149,0.228,0.002,0.100,0.002,0.459,...,0.983,0.949,0.982,0.971,NaN,NaN,NaN,NaN,NaN,NaN
29,02M412,587.0,0.276,0.060,0.155,0.460,0.002,0.150,0.000,0.325,...,0.968,0.962,0.962,0.907,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,84M478,495.0,0.000,0.036,0.958,0.002,0.123,0.226,0.004,0.794,...,0.865,0.737,0.811,0.757,129.0,43.0,126.0,38.0,122.0,37.0
2916,84M481,353.0,0.003,0.643,0.309,0.008,0.065,0.238,0.074,0.765,...,0.946,0.857,0.891,0.821,85.0,27.0,92.0,28.0,92.0,28.0
2917,84M518,117.0,0.000,0.291,0.658,0.009,0.009,0.385,0.077,0.880,...,NaN,NaN,NaN,NaN,108.0,35.0,5.0,1.0,NaN,NaN
2918,84M522,336.0,0.003,0.476,0.464,0.027,0.065,0.292,0.006,0.838,...,NaN,NaN,NaN,NaN,53.0,17.0,92.0,26.0,87.0,23.0
2919,84M708,346.0,0.006,0.558,0.402,0.006,0.032,0.176,0.003,0.811,...,0.964,0.885,0.914,0.880,92.0,28.0,83.0,26.0,81.0,25.0
2920,84M709,170.0,0.000,0.788,0.206,0.000,0.018,0.200,0.006,0.848,...,0.929,0.933,0.892,0.800,51.0,17.0,42.0,15.0,37.0,15.0
2921,84Q320,488.0,0.061,0.734,0.150,0.008,0.039,0.154,0.000,0.551,...,0.922,0.821,0.944,0.897,118.0,38.0,102.0,28.0,125.0,39.0
2922,84Q373,265.0,0.026,0.638,0.226,0.064,0.008,0.204,0.004,0.723,...,0.773,0.690,0.928,0.850,91.0,30.0,97.0,29.0,69.0,20.0
2923,84Q705,221.0,0.176,0.054,0.683,0.077,0.032,0.140,0.000,0.555,...,0.828,0.889,0.911,0.824,58.0,20.0,58.0,18.0,56.0,17.0
2924,84R067,200.0,0.005,0.365,0.445,0.145,0.000,0.370,0.000,0.644,...,0.842,0.684,0.765,0.588,40.0,15.0,57.0,19.0,51.0,17.0
2925,84R070,103.0,0.049,0.311,0.417,0.155,0.010,0.291,0.039,0.750,...,0.850,0.800,NaN,NaN,52.0,16.0,40.0,15.0,3.0,1.0
2926,84X185,240.0,0.008,0.313,0.671,0.004,0.042,0.200,0.000,0.800,...,NaN,NaN,NaN,NaN,60.0,20.0,62.0,19.0,52.0,17.0
2927,84X202,542.0,0.007,0.402,0.542,0.013,0.070,0.164,0.002,0.851,...,0.974,0.959,0.984,0.976,136.0,44.0,153.0,49.0,129.0,41.0
2928,84X208,475.0,0.019,0.392,0.552,0.013,0.137,0.183,0.023,0.881,...,0.796,0.656,0.783,0.697,128.0,41.0,103.0,32.0,106.0,33.0
2929,84X345,271.0,0.000,0.295,0.697,0.007,0.055,0.199,0.004,0.873,...,0.742,0.571,0.636,0.533,71.0,25.0,66.0,21.0,22.0,15.0
2930,84X347,366.0,0.016,0.128,0.787,0.019,0.090,0.158,0.016,0.830,...,0.886,0.889,0.838,0.900,114.0,35.0,105.0,27.0,80.0,20.0
2931,84X393,447.0,0.011,0.329,0.658,0.002,0.051,0.141,0.004,0.835,...,NaN,NaN,NaN,NaN,124.0,38.0,104.0,32.0,111.0,32.0
2932,84X395,450.0,0.007,0.427,0.558,0.000,0.060,0.184,0.000,0.831,...,0.881,0.829,0.863,0.759,111.0,34.0,126.0,35.0,102.0,29.0
2933,84X429,469.0,0.000,0.181,0.808,0.000,0.151,0.134,0.002,0.861,...,NaN,NaN,NaN,NaN,99.0,30.0,110.0,32.0,126.0,36.0
2934,84X461,149.0,0.000,0.309,0.678,0.007,0.047,0.148,0.000,0.902,...,0.569,0.375,0.750,0.533,48.0,16.0,51.0,16.0,48.0,15.0
2935,84X471,252.0,0.000,0.060,0.933,0.004,0.107,0.171,0.000,0.903,...,0.977,1.000,0.900,0.680,87.0,28.0,86.0,28.0,80.0,25.0
2936,84X482,460.0,0.007,0.270,0.698,0.020,0.087,0.185,0.004,0.897,...,0.638,0.667,0.574,0.706,101.0,34.0,94.0,30.0,101.0,34.0
2937,84X488,369.0,0.014,0.572,0.393,0.011,0.065,0.266,0.005,0.680,...,0.933,0.880,0.863,0.667,96.0,32.0,75.0,25.0,95.0,30.0
2938,84X539,508.0,0.026,0.400,0.528,0.012,0.045,0.114,0.004,0.808,...,0.909,0.805,0.902,0.842,130.0,41.0,132.0,41.0,122.0,38.0
2939,84X553,570.0,0.009,0.333,0.639,0.004,0.053,0.158,0.021,0.817,...,0.847,0.778,0.867,0.838,161.0,51.0,150.0,45.0,120.0,37.0
2940,84X581,326.0,0.003,0.353,0.635,0.006,0.067,0.221,0.003,0.864,...,NaN,NaN,NaN,NaN,57.0,19.0,70.0,22.0,91.0,29.0
2941,84X597,224.0,0.027,0.348,0.580,0.013,0.071,0.232,0.009,0.806,...,0.972,0.971,NaN,NaN,105.0,35.0,109.0,35.0,2.0,1.0
2942,84X611,108.0,0.019,0.185,0.722,0.009,0.111,0.213,0.046,0.854,...,NaN,NaN,NaN,NaN,104.0,32.0,2.0,NaN,NaN,NaN
2943,84X703,393.0,0.000,0.499,0.489,0.010,0.066,0.130,0.023,0.832,...,0.946,0.886,0.944,0.862,111.0,36.0,111.0,35.0,89.0,29.0
2944,84X704,267.0,0.004,0.442,0.543,0.004,0.019,0.146,0.007,0.781,...,NaN,NaN,NaN,NaN,72.0,24.0,72.0,25.0,69.0,23.0

In [32]:
stud_achieve_df

,DBN,Metric Value - 10+ Credits in 1st Year - All Students,Metric Value - 10+ Credits in 1st Year - School's Lowest Third,Metric Value - 10+ Credits in 2nd Year - All Students,Metric Value - 10+ Credits in 2nd Year - School's Lowest Third,Metric Value - 10+ Credits in 3rd Year - All Students,Metric Value - 10+ Credits in 3rd Year - School's Lowest Third,N count - 10+ Credits in 1st Year - All Students,N count - 10+ Credits in 1st Year - School's Lowest Third,N count - 10+ Credits in 2nd Year - All Students,N count - 10+ Credits in 2nd Year - School's Lowest Third,N count - 10+ Credits in 3rd Year - All Students,N count - 10+ Credits in 3rd Year - School's Lowest Third,SQR Year
1,01M292,0.857,0.867,0.568,0.438,0.700,0.333,NaN,NaN,NaN,NaN,NaN,NaN,2015
2,01M448,0.889,0.800,0.872,0.720,0.742,0.533,NaN,NaN,NaN,NaN,NaN,NaN,2015
3,01M450,0.946,0.828,0.870,0.818,0.824,0.700,NaN,NaN,NaN,NaN,NaN,NaN,2015
4,01M509,0.652,0.619,0.627,0.542,0.583,0.407,NaN,NaN,NaN,NaN,NaN,NaN,2015
5,01M539,0.975,0.912,0.984,0.945,0.984,0.962,NaN,NaN,NaN,NaN,NaN,NaN,2015
6,01M696,0.984,0.973,0.952,0.882,0.963,0.974,NaN,NaN,NaN,NaN,NaN,NaN,2015
7,02M047,1.000,1.000,0.875,0.800,0.881,0.947,NaN,NaN,NaN,NaN,NaN,NaN,2015
8,02M135,0.716,0.552,0.663,0.438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
9,02M139,0.868,0.730,0.880,0.815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
10,02M280,0.928,0.844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
11,02M282,0.863,0.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
12,02M288,0.810,0.667,0.795,0.647,0.714,0.656,NaN,NaN,NaN,NaN,NaN,NaN,2015
13,02M294,0.784,0.654,0.810,0.708,0.750,0.731,NaN,NaN,NaN,NaN,NaN,NaN,2015
14,02M296,0.824,0.657,0.758,0.516,0.700,0.559,NaN,NaN,NaN,NaN,NaN,NaN,2015
15,02M298,0.955,0.853,0.843,0.697,0.911,0.743,NaN,NaN,NaN,NaN,NaN,NaN,2015
16,02M300,0.775,0.424,0.709,0.500,0.714,0.556,NaN,NaN,NaN,NaN,NaN,NaN,2015
17,02M303,0.832,0.730,0.777,0.688,0.703,0.500,NaN,NaN,NaN,NaN,NaN,NaN,2015
18,02M305,0.855,0.800,0.767,0.630,0.747,0.400,NaN,NaN,NaN,NaN,NaN,NaN,2015
19,02M308,0.856,0.767,0.833,0.758,0.779,0.700,NaN,NaN,NaN,NaN,NaN,NaN,2015
20,02M316,0.664,0.486,0.606,0.481,0.643,0.452,NaN,NaN,NaN,NaN,NaN,NaN,2015
21,02M374,0.841,0.745,0.731,0.609,0.687,0.486,NaN,NaN,NaN,NaN,NaN,NaN,2015
22,02M376,0.956,0.865,0.973,0.944,0.947,0.919,NaN,NaN,NaN,NaN,NaN,NaN,2015
23,02M392,0.841,0.684,0.812,0.605,0.790,0.677,NaN,NaN,NaN,NaN,NaN,NaN,2015
24,02M393,0.766,0.574,0.681,0.590,0.750,0.533,NaN,NaN,NaN,NaN,NaN,NaN,2015
25,02M399,0.881,0.750,0.875,0.727,0.860,0.750,NaN,NaN,NaN,NaN,NaN,NaN,2015
26,02M400,0.750,0.480,0.767,0.519,0.707,0.500,NaN,NaN,NaN,NaN,NaN,NaN,2015
27,02M407,1.000,NaN,0.966,0.938,0.959,0.905,NaN,NaN,NaN,NaN,NaN,NaN,2015
28,02M408,0.900,0.844,0.941,0.926,0.946,1.000,NaN,NaN,NaN,NaN,NaN,NaN,2015
29,02M411,1.000,1.000,0.983,0.949,0.982,0.971,NaN,NaN,NaN,NaN,NaN,NaN,2015
30,02M412,0.984,0.953,0.968,0.962,0.962,0.907,NaN,NaN,NaN,NaN,NaN,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909,84M478,0.868,0.767,0.865,0.737,0.811,0.757,129.0,43.0,126.0,38.0,122.0,37.0,2020
2910,84M481,0.941,0.852,0.946,0.857,0.891,0.821,85.0,27.0,92.0,28.0,92.0,28.0,2020
2911,84M518,NaN,NaN,NaN,NaN,NaN,NaN,108.0,35.0,5.0,1.0,NaN,NaN,2020
2912,84M522,NaN,NaN,NaN,NaN,NaN,NaN,53.0,17.0,92.0,26.0,87.0,23.0,2020
2913,84M708,0.891,0.786,0.964,0.885,0.914,0.880,92.0,28.0,83.0,26.0,81.0,25.0,2020
2914,84M709,0.922,0.765,0.929,0.933,0.892,0.800,51.0,17.0,42.0,15.0,37.0,15.0,2020
2915,84Q320,0.932,0.842,0.922,0.821,0.944,0.897,118.0,38.0,102.0,28.0,125.0,39.0,2020
2916,84Q373,0.813,0.700,0.773,0.690,0.928,0.850,91.0,30.0,97.0,29.0,69.0,20.0,2020
2917,84Q705,0.897,0.850,0.828,0.889,0.911,0.824,58.0,20.0,58.0,18.0,56.0,17.0,2020
2918,84R067,0.800,0.800,0.842,0.684,0.765,0.588,40.0,15.0,57.0,19.0,51.0,17.0,2020
2919,84R070,0.750,0.563,0.850,0.800,NaN,NaN,52.0,16.0,40.0,15.0,3.0,1.0,2020
2920,84X185,NaN,NaN,NaN,NaN,NaN,NaN,60.0,20.0,62.0,19.0,52.0,17.0,2020
2921,84X202,0.971,0.955,0.974,0.959,0.984,0.976,136.0,44.0,153.0,49.0,129.0,41.0,2020
2922,84X208,0.883,0.805,0.796,0.656,0.783,0.697,128.0,41.0,103.0,32.0,106.0,33.0,2020
2923,84X345,0.859,0.680,0.742,0.571,0.636,0.533,71.0,25.0,66.0,21.0,22.0,15.0,2020
2924,84X347,0.877,0.857,0.886,0.889,0.838,0.900,114.0,35.0,105.0,27.0,80.0,20.0,2020
2925,84X393,NaN,NaN,NaN,NaN,NaN,NaN,124.0,38.0,104.0,32.0,111.0,32.0,2020
2926,84X395,0.919,0.853,0.881,0.829,0.863,0.759,111.0,34.0,126.0,35.0,102.0,29.0,2020
2927,84X429,NaN,NaN,NaN,NaN,NaN,NaN,99.0,30.0,110.0,32.0,126.0,36.0,2020
2928,84X461,0.667,0.625,0.569,0.375,0.750,0.533,48.0,16.0,51.0,16.0,48.0,15.0,2020
2929,84X471,0.920,0.821,0.977,1.000,0.900,0.680,87.0,28.0,86.0,28.0,80.0,25.0,2020
2930,84X482,0.515,0.559,0.638,0.667,0.574,0.706,101.0,34.0,94.0,30.0,101.0,34.0,2020
2931,84X488,0.865,0.750,0.933,0.880,0.863,0.667,96.0,32.0,75.0,25.0,95.0,30.0,2020
2932,84X539,0.931,0.780,0.909,0.805,0.902,0.842,130.0,41.0,132.0,41.0,122.0,38.0,2020
2933,84X553,0.907,0.843,0.847,0.778,0.867,0.838,161.0,51.0,150.0,45.0,120.0,37.0,2020
2934,84X581,NaN,NaN,NaN,NaN,NaN,NaN,57.0,19.0,70.0,22.0,91.0,29.0,2020
2935,84X597,0.962,0.914,0.972,0.971,NaN,NaN,105.0,35.0,109.0,35.0,2.0,1.0,2020
2936,84X611,0.942,0.906,NaN,NaN,NaN,NaN,104.0,32.0,2.0,NaN,NaN,NaN,2020
2937,84X703,0.946,1.000,0.946,0.886,0.944,0.862,111.0,36.0,111.0,35.0,89.0,29.0,2020
2938,84X704,NaN,NaN,NaN,NaN,NaN,NaN,72.0,24.0,72.0,25.0,69.0,23.0,2020