### Download and Store Data Files

In [1]:
import os
import ssl
import sys
import urllib.request
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
pd.set_option('display.max_columns', None)

#### Downloading the Files

In [2]:
gradurls = {'https://infohub.nyced.org/docs/default-source/default-document-library/2020-graduation_rates_public_school.xlsx': 'grad_rates.xlsx',
            'https://infohub.nyced.org/docs/default-source/default-document-library/2020-graduation_rates_public_charters.xlsx': 'charter_grad_rates.xlsx'}
sqrurls = {'https://infohub.nyced.org/docs/default-source/default-document-library/201920_hs_sqr_results.xlsx': 'sqr2020.xlsx',
           'https://infohub.nyced.org/docs/default-source/default-document-library/201819_hs_sqr_results.xlsx': 'sqr2019.xlsx',
           'https://infohub.nyced.org/docs/default-source/default-document-library/201718_hs_sqr_results.xlsx': 'sqr2018.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2016-17_hs_sqr.xlsx': 'sqr2017.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2015_2016_hs_sqr_results_2017_01_05.xlsx': 'sqr2016.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2014_2015_hs_sqr_results_2016_04_08.xlsx': 'sqr2015.xlsx'}
demourls = {'https://infohub.nyced.org/docs/default-source/default-document-library/demographic-snapshot-2015-16-to-2019-20-(public).xlsx': 'demo.xlsx'}
urls = [gradurls, sqrurls, demourls]

In [3]:
for url in urls:
    try:
        [urllib.request.urlretrieve(x, 'data/'+url[x]) for x in url]
    except:
        print("Trying the next url")

Trying the next url
Trying the next url
Trying the next url

#### Graduation Rate Files

In [4]:
gradrates = pd.read_excel('data/grad_rates.xlsx', sheet_name = "All")
charterrates = pd.read_excel('data/charter_grad_rates.xlsx', sheet_name = "All")

gradrates_eth = pd.read_excel('data/grad_rates.xlsx', sheet_name = "Ethnicity")

In [5]:
gradrates.head()

,Unnamed: 0,DBN,School Name,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,# Advanced Regents,% Advanced Regents of Cohort,% Advanced Regents of Grads,# Regents without Advanced,% Regents without Advanced of Cohort,% Regents without Advanced of Grads,# Local,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout
0,01M2922016All Students4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2016,4 year August,31,29,93.5484,29,93.5484,100,9,29.0323,31.0345,20,64.5161,68.9655,0,0,0,1,3.22581,1,3.22581
1,01M2922015All Students4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2015,4 year August,28,25,89.2857,22,78.5714,88,2,7.14286,8,20,71.4286,80,3,10.7143,12,0,0,3,10.7143
2,01M2922014All Students4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2014,4 year August,29,28,96.5517,25,86.2069,89.2857,0,0,0,25,86.2069,89.2857,3,10.3448,10.7143,0,0,1,3.44828
3,01M2922013All Students4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2013,4 year August,36,25,69.4444,23,63.8889,92,0,0,0,23,63.8889,92,2,5.55556,8,3,8.33333,7,19.4444
4,01M2922012All Students4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2012,4 year August,44,24,54.5455,20,45.4545,83.3333,1,2.27273,4.16667,19,43.1818,79.1667,4,9.09091,16.6667,10,22.7273,10,22.7273

In [6]:
gradrates_eth.head()

,Unnamed: 0,DBN,School Name,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,# Advanced Regents,% Advanced Regents of Cohort,% Advanced Regents of Grads,# Regents without Advanced,% Regents without Advanced of Cohort,% Regents without Advanced of Grads,# Local,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout
0,01M2922016Asian4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,Asian,2016,4 year August,7,6,85.7143,6,85.7143,100,3,42.8571,50,3,42.8571,50,0,0,0,0,0,1,14.2857
1,01M2922015Asian4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,Asian,2015,4 year August,3,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s
2,01M2922014Asian4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,Asian,2014,4 year August,3,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s
3,01M2922013Asian4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,Asian,2013,4 year August,9,8,88.8889,8,88.8889,100,0,0,0,8,88.8889,100,0,0,0,0,0,1,11.1111
4,01M2922012Asian4 year August,01M292,ORCHARD COLLEGIATE ACADEMY,Asian,2012,4 year August,5,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s

In [7]:
charterrates.head()

,DBN,School Name,Category,Cohort Year,Cohort,# Total Cohort,# Grads,% Grads,# Total Regents,% Total Regents of Cohort,% Total Regents of Grads,# Advanced Regents,% Advanced Regents of Cohort,% Advanced Regents of Grads,# Regents without Advanced,% Regents without Advanced of Cohort,% Regents without Advanced of Grads,# Local,% Local of Cohort,% Local of Grads,# Still Enrolled,% Still Enrolled,# Dropout,% Dropout
0,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,All Students,2012,4 year August,37,34,91.8919,34,91.8919,100,5,13.5135,14.7059,29,78.3784,85.2941,0,0,0,3,8.10811,0,0
1,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,All Students,2011,4 year August,37,28,75.6757,28,75.6757,100,12,32.4324,42.8571,16,43.2432,57.1429,0,0,0,8,21.6216,1,2.7027
2,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,All Students,2010,4 year August,31,26,83.871,26,83.871,100,19,61.2903,73.0769,7,22.5806,26.9231,0,0,0,5,16.129,0,0
3,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,All Students,2009,4 year August,31,20,64.5161,20,64.5161,100,0,0,0,20,64.5161,100,0,0,0,3,9.67742,0,0
4,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,All Students,2012,4 year June,37,34,91.8919,34,91.8919,100,5,13.5135,14.7059,29,78.3784,85.2941,0,0,0,3,8.10811,0,0

In [8]:
all_grad_rates = pd.concat([gradrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '% Grads']],
                            charterrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '% Grads']]], 
                           ignore_index=True)
all_grad_rates[['# Total Cohort', '# Grads', '% Grads']] = all_grad_rates[['# Total Cohort', '# Grads', '% Grads']].apply(pd.to_numeric, errors='coerce')

In [9]:
all_grad_rates.rename(columns={'DBN':'dbn',
                               'School Name':'schoolName',
                               'Cohort Year':'cohortYear', 
                               'Cohort':'cohort', 
                               '# Total Cohort':'numTotalCohort',
                               '# Grads':'numGrads', '% Grads':'pctGrad', '# Still Enrolled':'stillEnrolledNum'}, inplace=True)

In [10]:
all_grad_rates['pctGrad'] = all_grad_rates['pctGrad']/100

In [11]:
all_grad_rates.to_csv('data/clean/all_grad_rates.csv',index=False)

In [12]:
all_grad_rates.head()

,dbn,schoolName,cohortYear,cohort,numTotalCohort,numGrads,pctGrad
0,01M292,ORCHARD COLLEGIATE ACADEMY,2016,4 year August,31,29.0,0.935484
1,01M292,ORCHARD COLLEGIATE ACADEMY,2015,4 year August,28,25.0,0.892857
2,01M292,ORCHARD COLLEGIATE ACADEMY,2014,4 year August,29,28.0,0.965517
3,01M292,ORCHARD COLLEGIATE ACADEMY,2013,4 year August,36,25.0,0.694444
4,01M292,ORCHARD COLLEGIATE ACADEMY,2012,4 year August,44,24.0,0.545455

In [13]:
all_grad_rates.dtypes

dbn                object
schoolName         object
cohortYear          int64
cohort             object
numTotalCohort      int64
numGrads          float64
pctGrad           float64
dtype: object

#### SQR Files

In [14]:
tabs = ['Summary', 'Student Achievement', 'Closing the Achievement Gap', 'Framework', 'Additional Info']
sqr_files = ['sqr2020.xlsx', 'sqr2019.xlsx', 'sqr2018.xlsx', 'sqr2017.xlsx', 'sqr2016.xlsx', 'sqr2015.xlsx']

In [15]:
summary = {}
stud_achieve = {}
closing_gap = {}
framework = {}
add_info = {}

for f in sqr_files:
    summary[f] = pd.read_excel('data/'+f, sheet_name='Summary')
    stud_achieve[f] = pd.read_excel('data/'+f, sheet_name='Student Achievement')
    closing_gap[f] = pd.read_excel('data/'+f, sheet_name='Closing the Achievement Gap')
    framework[f] = pd.read_excel('data/'+f, sheet_name='Framework')
    add_info[f] = pd.read_excel('data/'+f, sheet_name='Additional Info')

In [16]:
summary['sqr2020.xlsx'].columns = summary['sqr2020.xlsx'].iloc[2]
summary['sqr2019.xlsx'].columns = summary['sqr2019.xlsx'].iloc[2]
summary['sqr2018.xlsx'].columns = summary['sqr2018.xlsx'].iloc[0]
summary['sqr2017.xlsx'].columns = summary['sqr2017.xlsx'].iloc[0]
summary['sqr2016.xlsx'].columns = summary['sqr2016.xlsx'].iloc[0]
summary['sqr2015.xlsx'].columns = summary['sqr2015.xlsx'].iloc[0]

In [17]:
summary['sqr2020.xlsx'].columns

Index([                                                                                                           nan,
       'Due to COVID-19, Framework ratings and scores are not available for any schools for the 2019-20 school year.',
                                                                                                                  nan,
                                                                                                                'DBN',
                                                                                                        'School Name',
                                                                                                        'School Type',
                                                                                                         'Enrollment',
                                                                            'Rigorous Instruction - Percent Positive',
                                                                          'Collaborative Teachers - Percent Positive',
                                                                          'Supportive Environment - Percent Positive',
                                                                     'Effective School Leadership - Percent Positive',
                                                                    'Strong Family-Community Ties - Percent Positive',
                                                                                           'Trust - Percent Positive',
                                                 'Quality Review - How interesting and challenging is the curriculum',
                                                        'Quality Review - How effective is the teaching and learning',
                                        'Quality Review - How well does the school assess what students are learning',
                              'Quality Review - How clearly are high expectations communicated to students and staff',
                                                         'Quality Review - How well do teachers work with each other',
                     'Quality Review - How safe and inclusive is the school while supporting social-emotional growth',
                                            'Quality Review - How well does the school allocate and manage resources',
                                      'Quality Review - How well does the school identify, track, and meet its goals',
                     'Quality Review - How thoughtful is the school's approach to teacher development and evaluation',
                                              'Quality Review - How well are school decisions evaluated and adjusted',
                                                                                   'Quality Review - Dates of Review',
                                                                                'Average Grade 8 English Proficiency',
                                                                                   'Average Grade 8 Math Proficiency',
                                                                                                     'Percent Female',
                                                                                                       'Percent Male',
                                                                                  'Percent English Language Learners',
                                                                                 'Percent Students with Disabilities',
                                                                                             'Percent Self-Contained',
                                                                                                'Economic Need Index',
                                                                                    'Percent Overage / Undercredited',
                                                                                            'Percent in Temp Housing',
                                                                                               'Percent HRA Eligible',
                                                                                            'Student Percent - Asian',
                                                                                            'Student Percent - Black',
                                                                                         'Student Percent - Hispanic',
                                                                                  'Student Percent - Native American',
                                                              'Student Percent - Native Hawaiian or Pacific Islander',
                                                                                            'Student Percent - White',
                                                                                            'Teacher Percent - Asian',
                                                                                            'Teacher Percent - Black',
                                                                                         'Teacher Percent - Hispanic',
                                                                                  'Teacher Percent - Native American',
                                                              'Teacher Percent - Native Hawaiian or Pacific Islander',
                                                                                            'Teacher Percent - White',
                                                                                       'Nearby Student Distance (mi)',
                                                                                     'Nearby Student Percent - Asian',
                                                                                     'Nearby Student Percent - Black',
                                                                                  'Nearby Student Percent - Hispanic',
                                                                           'Nearby Student Percent - Native American',
                                                       'Nearby Student Percent - Native Hawaiian or Pacific Islander',
                                                                                     'Nearby Student Percent - White',
                                                                                            'Borough Percent - Asian',
                                                                                            'Borough Percent - Black',
                                                                                         'Borough Percent - Hispanic',
                                                                                  'Borough Percent - Native American',
                                                              'Borough Percent - Native Hawaiian or Pacific Islander',
                                                                                            'Borough Percent - White',
                                                        'Percentage of Students Enrolled in Advanced Courses - Asian',
                                                        'Percentage of Students Enrolled in Advanced Courses - Black',
                                                     'Percentage of Students Enrolled in Advanced Courses - Hispanic',
                                              'Percentage of Students Enrolled in Advanced Courses - Native American',
                          'Percentage of Students Enrolled in Advanced Courses - Native Hawaiian or Pacific Islander',
                                                        'Percentage of Students Enrolled in Advanced Courses - White',
                                                        'Percentage of Students Enrolled in AP or IB Courses - Asian',
                                                        'Percentage of Students Enrolled in AP or IB Courses - Black',
                                                     'Percentage of Students Enrolled in AP or IB Courses - Hispanic',
                                              'Percentage of Students Enrolled in AP or IB Courses - Native American',
                          'Percentage of Students Enrolled in AP or IB Courses - Native Hawaiian or Pacific Islander',
                                                        'Percentage of Students Enrolled in AP or IB Courses - White',
                                                                       'Years of principal experience at this school',
                                                             'Percent of teachers with 3 or more years of experience',
                                                                 'Average Student Attendance (through Feb-2020 only)',
                                                     'Percent of Students Chronically Absent (through Feb-2020 only)',
                                                                                            'Teacher Attendance Rate'],
      dtype='object', name=2)

In [18]:
summary_cols = ['DBN','Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']
summary['sqr2019.xlsx'] = summary['sqr2019.xlsx'][summary_cols]
summary['sqr2018.xlsx'] = summary['sqr2018.xlsx'][summary_cols]
summary['sqr2017.xlsx'] = summary['sqr2017.xlsx'][summary_cols]
summary['sqr2016.xlsx'] = summary['sqr2016.xlsx'][summary_cols]
summary['sqr2015.xlsx'] = summary['sqr2015.xlsx'][summary_cols]

In [19]:
summary['sqr2020.xlsx'] = summary['sqr2020.xlsx'][['DBN','Enrollment',
                         'Student Percent - Asian','Student Percent - Black','Student Percent - Hispanic',
                         'Student Percent - White', 'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                         'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                         'Average Student Attendance (through Feb-2020 only)',
                         'Percent of Students Chronically Absent (through Feb-2020 only)']]

In [20]:
summary['sqr2020.xlsx'].rename(columns={'Student Percent - Asian':'Percent Asian',
                                        'Student Percent - Black':'Percent Black',
                                        'Student Percent - Hispanic': 'Percent Hispanic',
                                        'Student Percent - White': 'Percent White', 
                                        'Average Student Attendance (through Feb-2020 only)' : 'Student Attendance Rate',
                                        'Percent of Students Chronically Absent (through Feb-2020 only)':'Percent of Students Chronically Absent'}, inplace=True)

In [21]:
summary['sqr2020.xlsx']['SQR Year'] = '2020'
summary['sqr2019.xlsx']['SQR Year'] = '2019'
summary['sqr2018.xlsx']['SQR Year'] = '2018'
summary['sqr2017.xlsx']['SQR Year'] = '2017'
summary['sqr2016.xlsx']['SQR Year'] = '2016'
summary['sqr2015.xlsx']['SQR Year'] = '2015'

In [22]:
summary_df = pd.concat(summary).reset_index().drop(['level_0', 'level_1'], axis = 1)
summary_df = summary_df[summary_df.DBN != 'DBN']

In [23]:
summary_df[['Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']] = summary_df[['Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']].apply(pd.to_numeric, errors='coerce')

In [24]:
summary_df.drop(columns=['Percent Asian', 'Percent Black',
       'Percent Hispanic', 'Percent White',
       'Percent English Language Learners',
       'Percent Students with Disabilities', 'Percent Self-Contained'], inplace=True)

summary_df.rename(columns={"DBN":'dbn', 'Enrollment':'sqrEnrollment',
                       "Average Grade 8 English Proficiency": 'grd8Ela',
                       "Average Grade 8 Math Proficiency": 'grd8Math',
                       "Student Attendance Rate": 'attdRate',
                       "Percent of Students Chronically Absent" : 'pctChronAbs',
                           "Economic Need Index": 'econNeedInd',
                       "SQR Year": 'sqrYear'}, inplace=True)

In [25]:
stud_achieve['sqr2020.xlsx'].columns = stud_achieve['sqr2020.xlsx'].iloc[2]
stud_achieve['sqr2019.xlsx'].columns = stud_achieve['sqr2019.xlsx'].iloc[2]
stud_achieve['sqr2018.xlsx'].columns = stud_achieve['sqr2018.xlsx'].iloc[0]
stud_achieve['sqr2017.xlsx'].columns = stud_achieve['sqr2017.xlsx'].iloc[0]
stud_achieve['sqr2016.xlsx'].columns = stud_achieve['sqr2016.xlsx'].iloc[0]
stud_achieve['sqr2015.xlsx'].columns = stud_achieve['sqr2015.xlsx'].iloc[0]

In [26]:
stud_achieve['sqr2020.xlsx'].columns

Index([                                                                                                           nan,
       'Due to COVID-19, Framework ratings and scores are not available for any schools for the 2019-20 school year.',
                                                                                                                  nan,
                                                                                                                'DBN',
                                                                                                        'School Name',
                                                                                                        'School Type',
                                                                   'N count - 10+ Credits in 1st Year - All Students',
                                                              'Metric Value - 10+ Credits in 1st Year - All Students',
                                                          'N count - 10+ Credits in 1st Year - School's Lowest Third',
                                                     'Metric Value - 10+ Credits in 1st Year - School's Lowest Third',
                                                                   'N count - 10+ Credits in 2nd Year - All Students',
                                                              'Metric Value - 10+ Credits in 2nd Year - All Students',
                                                          'N count - 10+ Credits in 2nd Year - School's Lowest Third',
                                                     'Metric Value - 10+ Credits in 2nd Year - School's Lowest Third',
                                                                   'N count - 10+ Credits in 3rd Year - All Students',
                                                              'Metric Value - 10+ Credits in 3rd Year - All Students',
                                                          'N count - 10+ Credits in 3rd Year - School's Lowest Third',
                                                     'Metric Value - 10+ Credits in 3rd Year - School's Lowest Third',
                                                                    'N count - 4-Year Graduation Rate - All Students',
                                                               'Metric Value - 4-Year Graduation Rate - All Students',
                                                                    'N count - 6-Year Graduation Rate - All Students',
                                                               'Metric Value - 6-Year Graduation Rate - All Students',
                                                             'N count - 4-Year College Readiness Index (without CAT)',
                                                        'Metric Value - 4-Year College Readiness Index (without CAT)',
                                                             'N count - 6-Year College Readiness Index (without CAT)',
                                                        'Metric Value - 6-Year College Readiness Index (without CAT)',
                                                                      'N count - 4-Year High School Persistence Rate',
                                                                 'Metric Value - 4-Year High School Persistence Rate',
                                                                      'N count - 6-Year High School Persistence Rate',
                                                                 'Metric Value - 6-Year High School Persistence Rate',
                                                                'N count - Postsecondary Enrollment Rate - 18 Months',
                                                           'Metric Value - Postsecondary Enrollment Rate - 18 Months',
                                                                 'N count - Postsecondary Enrollment Rate - 6 Months',
                                                            'Metric Value - Postsecondary Enrollment Rate - 6 Months',
                                                              'N count - College and Career Preparatory Course Index',
                                                         'Metric Value - College and Career Preparatory Course Index',
                                      'N count - Percentage of Students with 90%+ Attendance (through Feb-2020 only)',
                                 'Metric Value - Percentage of Students with 90%+ Attendance (through Feb-2020 only)',
                                  'N count - Movement of Students with Disabilities to Less Restrictive Environments',
                             'Metric Value - Movement of Students with Disabilities to Less Restrictive Environments'],
      dtype='object', name=2)

In [27]:
sqrcols = ["DBN", "N count - 10+ Credits in 1st Year - All Students",
                              "Metric Value - 10+ Credits in 1st Year - All Students",
                              "N count - 10+ Credits in 1st Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                              "N count - 10+ Credits in 2nd Year - All Students",
                              "Metric Value - 10+ Credits in 2nd Year - All Students",
                              "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                              "N count - 10+ Credits in 3rd Year - All Students",
                              "Metric Value - 10+ Credits in 3rd Year - All Students",
                              "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]
stud_achieve['sqr2020.xlsx'] = stud_achieve['sqr2020.xlsx'][sqrcols]
stud_achieve['sqr2019.xlsx'] = stud_achieve['sqr2019.xlsx'][sqrcols]
stud_achieve['sqr2018.xlsx'] = stud_achieve['sqr2018.xlsx'][sqrcols]
stud_achieve['sqr2017.xlsx'] = stud_achieve['sqr2017.xlsx'][sqrcols]

sqrcols = ["DBN", "Metric Value - Percentage Earning 10+ Credits in First Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year",
           "Metric Value - Percentage Earning 10+ Credits in Second Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year",
           "Metric Value - Percentage Earning 10+ Credits in Third Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year"]
stud_achieve['sqr2015.xlsx'] = stud_achieve['sqr2015.xlsx'][sqrcols]
stud_achieve['sqr2016.xlsx'] = stud_achieve['sqr2016.xlsx'][sqrcols]

In [28]:
stud_achieve['sqr2015.xlsx'].columns

Index(['DBN', 'Metric Value - Percentage Earning 10+ Credits in First Year',
       'Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year',
       'Metric Value - Percentage Earning 10+ Credits in Second Year',
       'Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year',
       'Metric Value - Percentage Earning 10+ Credits in Third Year',
       'Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year'],
      dtype='object', name=0)

In [29]:
sqrcols = {"Metric Value - Percentage Earning 10+ Credits in First Year":"Metric Value - 10+ Credits in 1st Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year": "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
           "Metric Value - Percentage Earning 10+ Credits in Second Year" : "Metric Value - 10+ Credits in 2nd Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year": "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
           "Metric Value - Percentage Earning 10+ Credits in Third Year": "Metric Value - 10+ Credits in 3rd Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year": "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"}
stud_achieve['sqr2015.xlsx'].rename(columns = sqrcols, inplace=True)
stud_achieve['sqr2016.xlsx'].rename(columns = sqrcols, inplace=True)

In [30]:
stud_achieve['sqr2020.xlsx']['SQR Year'] = '2020'
stud_achieve['sqr2019.xlsx']['SQR Year'] = '2019'
stud_achieve['sqr2018.xlsx']['SQR Year'] = '2018'
stud_achieve['sqr2017.xlsx']['SQR Year'] = '2017'
stud_achieve['sqr2016.xlsx']['SQR Year'] = '2016'
stud_achieve['sqr2015.xlsx']['SQR Year'] = '2015'

In [31]:
stud_achieve_df = pd.concat(stud_achieve).reset_index().drop(['level_0', 'level_1'], axis=1)
stud_achieve_df = stud_achieve_df[stud_achieve_df.DBN != 'DBN']

/Users/mguan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [32]:
stud_achieve_df[["N count - 10+ Credits in 1st Year - All Students", "Metric Value - 10+ Credits in 1st Year - All Students",
                 "N count - 10+ Credits in 1st Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                 "N count - 10+ Credits in 2nd Year - All Students",
                 "Metric Value - 10+ Credits in 2nd Year - All Students",
                 "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                 "N count - 10+ Credits in 3rd Year - All Students",
                 "Metric Value - 10+ Credits in 3rd Year - All Students",
                 "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]] = stud_achieve_df[["N count - 10+ Credits in 1st Year - All Students",
                              "Metric Value - 10+ Credits in 1st Year - All Students",
                              "N count - 10+ Credits in 1st Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                              "N count - 10+ Credits in 2nd Year - All Students",
                              "Metric Value - 10+ Credits in 2nd Year - All Students",
                              "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                              "N count - 10+ Credits in 3rd Year - All Students",
                              "Metric Value - 10+ Credits in 3rd Year - All Students",
                              "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]].apply(pd.to_numeric, errors='coerce')

In [33]:
stud_achieve_df.rename(columns={"DBN":'dbn', 'Enrollment':'sqrEnrollment',
                       "Average Grade 8 English Proficiency": 'grd8Ela',
                       "Average Grade 8 Math Proficiency": 'grd8Math',
                       "Student Attendance Rate": 'attdRate',
                       "Percent of Students Chronically Absent" : 'pctChronAbs',
                       "SQR Year": 'sqrYear',
                       "Metric Value - 10+ Credits in 1st Year - All Students" : 'pct10PlusYear1',
                       "Metric Value - 10+ Credits in 1st Year - School's Lowest Third" : 'pct10PlusYear1Lowest3rd',
                       "Metric Value - 10+ Credits in 2nd Year - All Students" : 'pct10PlusYear2',
                       "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third" : 'pct10PlusYear2Lowest3rd',
                       "Metric Value - 10+ Credits in 3rd Year - All Students" : 'pct10PlusYear3',
                       "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third" : 'pct10PlusYear3Lowest3rd',
                       "N count - 10+ Credits in 1st Year - All Students" : 'numYear1',
                       "N count - 10+ Credits in 1st Year - School's Lowest Third" : 'numYear1Lowest3rd',
                       "N count - 10+ Credits in 2nd Year - All Students" : 'numYear2',
                       "N count - 10+ Credits in 2nd Year - School's Lowest Third" : 'numYear2Lowest3rd',
                       "N count - 10+ Credits in 3rd Year - All Students" : 'numYear3',
                       "N count - 10+ Credits in 3rd Year - School's Lowest Third": 'numYear3Lowest3rd'}, inplace=True)

In [34]:
closing_gap['sqr2020.xlsx'].columns = closing_gap['sqr2020.xlsx'].iloc[2]
closing_gap['sqr2019.xlsx'].columns = closing_gap['sqr2019.xlsx'].iloc[2]
closing_gap['sqr2018.xlsx'].columns = closing_gap['sqr2018.xlsx'].iloc[0]
closing_gap['sqr2017.xlsx'].columns = closing_gap['sqr2017.xlsx'].iloc[0]
closing_gap['sqr2016.xlsx'].columns = closing_gap['sqr2016.xlsx'].iloc[0]
closing_gap['sqr2015.xlsx'].columns = closing_gap['sqr2015.xlsx'].iloc[0]

closing_gap['sqr2020.xlsx']['sqrYear'] = '2020'
closing_gap['sqr2019.xlsx']['sqrYear'] = '2019'
closing_gap['sqr2018.xlsx']['sqrYear'] = '2018'
closing_gap['sqr2017.xlsx']['sqrYear'] = '2017'
closing_gap['sqr2016.xlsx']['sqrYear'] = '2016'
closing_gap['sqr2015.xlsx']['sqrYear'] = '2015'

In [35]:
closing_gap['sqr2020.xlsx'].columns

Index([                                                                                                           nan,
       'Due to COVID-19, Framework ratings and scores are not available for any schools for the 2019-20 school year.',
                                                                                                                  nan,
                                                                                                                'DBN',
                                                                                                        'School Name',
                                                                                                        'School Type',
                                                                           'N count - 4-Year Graduation Rate - Black',
                                                                      'Metric Value - 4-Year Graduation Rate - Black',
                                                              'N count - 4-Year Graduation Rate - Hispanic or Latinx',
                                                         'Metric Value - 4-Year Graduation Rate - Hispanic or Latinx',
                                                                 'N count - 4-Year Graduation Rate - Native American',
                                                            'Metric Value - 4-Year Graduation Rate - Native American',
                                             'N count - 4-Year Graduation Rate - Native Hawaiian or Pacific Islander',
                                        'Metric Value - 4-Year Graduation Rate - Native Hawaiian or Pacific Islander',
                                'N count - 4-Year Graduation Rate - Black or Hispanic Males in Lowest Third Citywide',
                           'Metric Value - 4-Year Graduation Rate - Black or Hispanic Males in Lowest Third Citywide',
                                'N count - 4-Year Graduation Rate - Self-Contained, Integrated Co-Teaching, or SETSS',
                           'Metric Value - 4-Year Graduation Rate - Self-Contained, Integrated Co-Teaching, or SETSS',
                                                       'N count - 4-Year Graduation Rate - English Language Learners',
                                                  'Metric Value - 4-Year Graduation Rate - English Language Learners',
                                                           'N count - 4-Year Graduation Rate - Lowest Third Citywide',
                                                      'Metric Value - 4-Year Graduation Rate - Lowest Third Citywide',
                                      'N count - 4-Year College Readiness Index, Lowest Third Citywide (without CAT)',
                                 'Metric Value - 4-Year College Readiness Index, Lowest Third Citywide (without CAT)',
                                          'N count - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide',
                                     'Metric Value - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide',
                                       'N count - College and Career Preparatory Course Index, Lowest Third Citywide',
                                  'Metric Value - College and Career Preparatory Course Index, Lowest Third Citywide',
                                                                                      'N count - College Persistence',
                                                                                 'Metric Value - College Persistence',
                                                                                                            'sqrYear'],
      dtype='object', name=2)

In [36]:
closing_gap['sqr2020.xlsx'] = closing_gap['sqr2020.xlsx'][['DBN', 'N count - 4-Year Graduation Rate - Lowest Third Citywide',
                             'Metric Value - 4-Year Graduation Rate - Lowest Third Citywide',
                             'N count - 4-Year College Readiness Index, Lowest Third Citywide (without CAT)',
                             'Metric Value - 4-Year College Readiness Index, Lowest Third Citywide (without CAT)',
                             'N count - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide',
                             'Metric Value - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide',
                             'N count - College and Career Preparatory Course Index, Lowest Third Citywide',
                             'Metric Value - College and Career Preparatory Course Index, Lowest Third Citywide', 'sqrYear']]
closing_gap['sqr2020.xlsx'].rename(columns={'DBN':'dbn',
                                            'N count - 4-Year Graduation Rate - Lowest Third Citywide': 'numGradLowest3rd',
                             'Metric Value - 4-Year Graduation Rate - Lowest Third Citywide': 'pctGradLowest3rd',
                             'N count - 4-Year College Readiness Index, Lowest Third Citywide (without CAT)': 'numCollegeReadyLowest3rd',
                             'Metric Value - 4-Year College Readiness Index, Lowest Third Citywide (without CAT)': 'pctCollegeReadyLowest3rd',
                             'N count - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide': 'numPERLowest3rd' ,
                             'Metric Value - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide': 'pctPERLowest3rd',
                             'N count - College and Career Preparatory Course Index, Lowest Third Citywide': 'numCCPCILowest3rd',
                             'Metric Value - College and Career Preparatory Course Index, Lowest Third Citywide': 'pctCCPCILowest3rd'}, inplace=True)

In [37]:
closing_gap_cols = ['DBN', 'N count - 4-Year Graduation Rate - Lowest Third Citywide',
                    'Metric Value - 4-Year Graduation Rate - Lowest Third Citywide',
                    'N count - 4-Year College Readiness Index, Lowest Third Citywide',
                    'Metric Value - 4-Year College Readiness Index, Lowest Third Citywide',
                    'N count - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide',
                    'Metric Value - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide',
                    'N count - College and Career Preparatory Course Index, Lowest Third Citywide',
                    'Metric Value - College and Career Preparatory Course Index, Lowest Third Citywide', 'sqrYear']
closing_gap['sqr2019.xlsx'] = closing_gap['sqr2019.xlsx'][closing_gap_cols]
closing_gap['sqr2018.xlsx'] = closing_gap['sqr2018.xlsx'][closing_gap_cols]
closing_gap['sqr2017.xlsx'] = closing_gap['sqr2017.xlsx'][closing_gap_cols]

In [38]:
temp = pd.concat([closing_gap['sqr2019.xlsx'], closing_gap['sqr2018.xlsx'], closing_gap['sqr2017.xlsx']], axis=0)
temp.rename(columns = {'DBN': 'dbn',
                       'N count - 4-Year Graduation Rate - Lowest Third Citywide': 'numGradLowest3rd',
                             'Metric Value - 4-Year Graduation Rate - Lowest Third Citywide': 'pctGradLowest3rd',
                             'N count - 4-Year College Readiness Index, Lowest Third Citywide': 'numCollegeReadyLowest3rd',
                             'Metric Value - 4-Year College Readiness Index, Lowest Third Citywide': 'pctCollegeReadyLowest3rd',
                             'N count - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide': 'numPERLowest3rd' ,
                             'Metric Value - Postsecondary Enrollment Rate - 6 Months, Lowest Third Citywide': 'pctPERLowest3rd',
                             'N count - College and Career Preparatory Course Index, Lowest Third Citywide': 'numCCPCILowest3rd',
                             'Metric Value - College and Career Preparatory Course Index, Lowest Third Citywide': 'pctCCPCILowest3rd'}, inplace=True)

In [39]:
closing_gap_cols = ['DBN', 'Metric Value - Graduation Rate, 4-year, lowest third city',
                    'Metric Value - Percentage in Lowest Third City, 4-year College Readiness Index',
                    'Metric Value - Percentage in Lowest Third City, PER, 6 Months After High School',
                    'Metric Value - Percentage in Lowest Third City, College and Career Prep Course Index', 'sqrYear']

closing_gap['sqr2016.xlsx'] = closing_gap['sqr2016.xlsx'][closing_gap_cols]
closing_gap['sqr2016.xlsx'].rename(columns = {'DBN':'dbn',
                                              'Metric Value - Graduation Rate, 4-year, lowest third city':'pctGradLowest3rd',
                    'Metric Value - Percentage in Lowest Third City, 4-year College Readiness Index':'pctCollegeReadyLowest3rd',
                    'Metric Value - Percentage in Lowest Third City, PER, 6 Months After High School':'pctPERLowest3rd',
                    'Metric Value - Percentage in Lowest Third City, College and Career Prep Course Index':'pctCCPCILowest3rd'}, inplace=True)

In [40]:
closing_gap_cols = ['DBN', 'Metric Value - Weighted Diploma Rate, 4 Year - Lowest Third City',
                    'Metric Value - Percentage in Lowest Third City, 4-year Non-Remediation Index',
                    'Metric Value - Percentage in Lowest Third City, PER, 6 Months After High School',
                    'Metric Value - Percentage in Lowest Third City, College and Career Prep Course Index', 'sqrYear']

closing_gap['sqr2015.xlsx'] = closing_gap['sqr2015.xlsx'][closing_gap_cols]
closing_gap['sqr2015.xlsx'].rename(columns = {'DBN':'dbn',
                                              'Metric Value - Weighted Diploma Rate, 4 Year - Lowest Third City':'pctGradLowest3rd',
                    'Metric Value - Percentage in Lowest Third City, 4-year Non-Remediation Index':'pctCollegeReadyLowest3rd',
                    'Metric Value - Percentage in Lowest Third City, PER, 6 Months After High School':'pctPERLowest3rd',
                    'Metric Value - Percentage in Lowest Third City, College and Career Prep Course Index':'pctCCPCILowest3rd'}, inplace=True)

In [41]:
closing_gap_df = pd.concat([closing_gap['sqr2020.xlsx'], temp, closing_gap['sqr2016.xlsx'],closing_gap['sqr2015.xlsx']], axis=0)

/Users/mguan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [42]:
closing_gap_df = closing_gap_df[closing_gap_df.dbn.str.len()==6]
closing_gap_df[['numCCPCILowest3rd', 'numCollegeReadyLowest3rd',
       'numGradLowest3rd', 'numPERLowest3rd', 'pctCCPCILowest3rd',
       'pctCollegeReadyLowest3rd', 'pctGradLowest3rd', 'pctPERLowest3rd']] = closing_gap_df[['numCCPCILowest3rd', 'numCollegeReadyLowest3rd',
       'numGradLowest3rd', 'numPERLowest3rd', 'pctCCPCILowest3rd',
       'pctCollegeReadyLowest3rd', 'pctGradLowest3rd', 'pctPERLowest3rd']].apply(pd.to_numeric, errors='coerce')

In [43]:
closing_gap_df.drop(columns=['numCCPCILowest3rd', 'numCollegeReadyLowest3rd'], inplace=True)

In [44]:
closing_gap_df.head()

,dbn,numGradLowest3rd,numPERLowest3rd,pctCCPCILowest3rd,pctCollegeReadyLowest3rd,pctGradLowest3rd,pctPERLowest3rd,sqrYear
4,01M292,6.0,19.0,0.083,0.333,0.833,0.579,2020
5,01M448,31.0,20.0,0.871,0.581,0.903,0.500,2020
6,01M450,23.0,11.0,0.826,0.652,0.739,0.636,2020
7,01M539,13.0,1.0,0.577,0.308,0.769,NaN,2020
8,01M696,2.0,1.0,NaN,NaN,NaN,NaN,2020

In [45]:
add_info['sqr2020.xlsx'].columns = add_info['sqr2020.xlsx'].iloc[2]
add_info['sqr2019.xlsx'].columns = add_info['sqr2019.xlsx'].iloc[2]
add_info['sqr2018.xlsx'].columns = add_info['sqr2018.xlsx'].iloc[0]
add_info['sqr2017.xlsx'].columns = add_info['sqr2017.xlsx'].iloc[0]
add_info['sqr2016.xlsx'].columns = add_info['sqr2016.xlsx'].iloc[0]
add_info['sqr2015.xlsx'].columns = add_info['sqr2015.xlsx'].iloc[0]

In [46]:
add_info_cols = ["DBN", "N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 1 in 8th Grade)", 
                          "Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 1 in 8th Grade)",
                          "N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 2 in 8th Grade)",
                          "Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 2 in 8th Grade)",
                          "N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 3 or 4 in 8th Grade)",
                          "Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 3 or 4 in 8th Grade)"]

add_info['sqr2020.xlsx'] = add_info['sqr2020.xlsx'][add_info_cols]

In [47]:
add_info_cols = ["DBN", "Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 1 in 8th Grade)",
                 "N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 1 in 8th Grade)",
                 "Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 2 in 8th Grade)",
                 "N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 2 in 8th Grade)", 
                 "Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 3 or 4 in 8th Grade)", 
                 "N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 3 or 4 in 8th Grade)"]

add_info['sqr2019.xlsx'] = add_info['sqr2019.xlsx'][add_info_cols]
add_info['sqr2018.xlsx'] = add_info['sqr2018.xlsx'][add_info_cols]

In [48]:
add_info['sqr2020.xlsx']['sqrYear'] = '2020'
add_info['sqr2019.xlsx']['sqrYear'] = '2019'
add_info['sqr2018.xlsx']['sqrYear'] = '2018'

In [49]:
add_info_df = pd.concat([add_info['sqr2020.xlsx'], add_info['sqr2019.xlsx'], add_info['sqr2018.xlsx']], axis=0)

/Users/mguan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [50]:
add_info_df.rename(columns={'DBN':'dbn',
       'Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 1 in 8th Grade)':'pctGradLevel1',
       'Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 2 in 8th Grade)':'pctGradLevel2',
       'Metric Value - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 3 or 4 in 8th Grade)':'pctGradLevel34',
       'N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 1 in 8th Grade)':'numGradLevel1',
       'N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 2 in 8th Grade)':'numGradLevel2',
       'N Count - Percentage of Students Who Graduated in 4 Years (Out of Students at Level 3 or 4 in 8th Grade)':'numGradLevel34'}, inplace=True)

add_info_df = add_info_df[add_info_df.dbn.str.len()==6]

In [51]:
sqr_df = summary_df.merge(stud_achieve_df, how='inner', left_on = ['dbn', 'sqrYear'], right_on = ['dbn', 'sqrYear'])

In [52]:
sqr_df = sqr_df.merge(closing_gap_df, how='inner', left_on = ['dbn', 'sqrYear'], right_on = ['dbn', 'sqrYear'])

In [53]:
sqr_df = sqr_df.merge(add_info_df, how='left', left_on = ['dbn', 'sqrYear'], right_on = ['dbn', 'sqrYear'])

In [54]:
sqr_df.head()

,dbn,sqrEnrollment,econNeedInd,grd8Ela,grd8Math,attdRate,pctChronAbs,sqrYear,pct10PlusYear1,pct10PlusYear1Lowest3rd,pct10PlusYear2,pct10PlusYear2Lowest3rd,pct10PlusYear3,pct10PlusYear3Lowest3rd,numYear1,numYear1Lowest3rd,numYear2,numYear2Lowest3rd,numYear3,numYear3Lowest3rd,numGradLowest3rd,numPERLowest3rd,pctCCPCILowest3rd,pctCollegeReadyLowest3rd,pctGradLowest3rd,pctPERLowest3rd,pctGradLevel1,pctGradLevel2,pctGradLevel34,numGradLevel1,numGradLevel2,numGradLevel34
0,01M292,255.0,0.832,2.18,2.06,0.766,0.568,2015,0.857,0.867,0.568,0.438,0.700,0.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250,0.281,1.750,0.152,NaN,NaN,NaN,NaN,NaN,NaN
1,01M448,304.0,0.812,2.27,2.37,0.880,0.347,2015,0.889,0.800,0.872,0.720,0.742,0.533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.543,0.174,3.130,0.429,NaN,NaN,NaN,NaN,NaN,NaN
2,01M450,666.0,0.610,2.66,2.63,0.938,0.165,2015,0.946,0.828,0.870,0.818,0.824,0.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.368,0.316,2.737,0.625,NaN,NaN,NaN,NaN,NaN,NaN
3,01M509,363.0,0.767,2.28,2.09,0.768,0.647,2015,0.652,0.619,0.627,0.542,0.583,0.407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043,0.000,0.745,0.107,NaN,NaN,NaN,NaN,NaN,NaN
4,01M539,1735.0,0.257,3.50,3.53,0.952,0.130,2015,0.975,0.912,0.984,0.945,0.984,0.962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
sqr_df.to_csv('data/clean/sqr.csv',index=False)

#### Location Data

In [56]:
lcgms = pd.read_excel('data/lcgms.xlsx', sheet_name='lcgms')

In [57]:
lcgms['DBN'] = lcgms['ATS System Code'].str.strip()

In [58]:
lcgms.columns

Index(['ATS System Code', 'Location Code', 'Location Name', 'BEDS Number',
       'Managed By Name', 'Location Type Description',
       'Location Category Description', 'Grades', 'Grades Final', 'Open Date',
       'Status Description', 'Building Code', 'Primary Address', 'City',
       'State Code', 'Zip', 'Borough Block Lot', 'Census Tract',
       'Community District', 'Council District', 'NTA', 'NTA_Name',
       'Principal Name', 'Principal Title', 'Principal Phone Number',
       'Fax Number', 'Geographical District Code',
       'Administrative District Code', 'Administrative District Location Code',
       'Administrative District Name', 'Superintendent',
       'Superintendent Title', 'Superintendent Location Code',
       'Community School Sup Name', 'HighSchool Network Location Code',
       'HighSchool Network Name', 'HighSchool Network Superintendent',
       'Executive Superintendent Location code',
       'Executive Superintendent Name', 'Executive Superintendent Title',
       'BCO Location Code', 'BCO Location Name', 'BCO Executive Director',
       'BCO Executive Director Title', 'DBN'],
      dtype='object')

In [59]:
lcgms.groupby(['Administrative District Location Code']).count()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,Status Description,Building Code,Primary Address,City,State Code,Zip,Borough Block Lot,Census Tract,Community District,Council District,NTA,NTA_Name,Principal Name,Principal Title,Principal Phone Number,Fax Number,Geographical District Code,Administrative District Code,Administrative District Name,Superintendent,Superintendent Title,Superintendent Location Code,Community School Sup Name,HighSchool Network Location Code,HighSchool Network Name,HighSchool Network Superintendent,Executive Superintendent Location code,Executive Superintendent Name,Executive Superintendent Title,BCO Location Code,BCO Location Name,BCO Executive Director,BCO Executive Director Title,DBN
Administrative District Location Code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
DA75,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,60,61,61,60,60,61,61,61,61,61,61,61,61,61,61,61,0,0,0,0,0,0,61,61,61,61,61
DA79,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
HS01,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,0,25,25,25,0,25,25,25,25,25,25,25,25,25,25,25
HS02,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,0,39,39,39,0,39,39,39,39,39,39,39,39,39,39,39
HS03,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,0,41,41,41,0,41,41,41,41,41,41,41,41,41,41,41
HS04,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,0,47,47,47,0,47,47,47,47,47,47,47,47,47,47,47
HS05,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47,46,46,47,47,0,47,47,47,0,47,47,47,47,47,47,47,47,47,47,47
HS06,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,0,26,26,26,0,26,26,26,26,26,26,26,26,26,26,26
HS07,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,58,60,60,0,60,60,60,0,60,60,60,60,60,60,60,60,60,60,60
HS08,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,0,29,29,29,0,29,29,29,29,29,29,29,29,29,29,29
HS09,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,26,26,27,27,0,27,27,27,0,27,27,27,27,27,27,27,27,27,27,27
HS10,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,0,42,42,42,0,42,42,42,42,42,42,42,42,42,42,42
HS12,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,0,48,48,48,0,48,48,48,48,48,48,48,48,48,48,48
K03G,29,29,29,28,29,29,29,29,28,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,28,28,29,29,29,29,29,29,29,0,0,0,29,29,29,28,28,28,28,29
K813,27,27,27,26,27,27,27,27,26,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,26,26,27,27,27,27,27,27,27,0,0,0,27,27,27,26,26,26,26,27
K814,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,0,0,0,26,26,26,26,26,26,26,26
K815,38,38,38,36,38,38,38,38,36,38,38,38,38,38,38,38,38,38,38,38,38,38,37,37,36,36,38,38,38,38,38,38,38,0,0,0,38,38,38,36,36,36,36,38
K816,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,0,0,0,19,19,19,19,19,19,19,19
K817,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,31,32,32,32,32,32,32,32,0,0,0,32,32,32,32,32,32,32,32
K818,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,0,0,0,20,20,20,20,20,20,20,20
K819,35,35,35,35,35,35,35,35,34,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,34,34,35,35,35,35,35,35,35,0,0,0,35,35,35,35,35,35,35,35
K820,41,41,41,40,41,41,41,41,39,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,39,38,41,41,41,41,41,41,41,0,0,0,41,41,41,40,40,40,40,41
K822,35,35,35,34,35,35,35,35,34,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,0,0,0,35,35,35,34,34,34,34,35
K823,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,22,23,23,23,23,23,23,23,0,0,0,23,23,23,23,23,23,23,23
K832,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,0,0,0,19,19,19,19,19,19,19,19
M801,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,19,20,20,20,20,20,20,20,0,0,0,20,20,20,20,20,20,20,20
M802,50,50,50,49,50,50,50,50,49,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,49,47,50,50,50,50,50,50,50,0,0,0,50,50,50,49,49,49,49,50
M803,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,0,0,0,30,30,30,30,30,30,30,30
M804,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,0,0,0,23,23,23,23,23,23,23,23
M805,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,22,22,23,23,23,23,23,23,23,0,0,0,23,23,23,23,23,23,23,23
M806,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,39,0,0,0,39,39,39,39,39,39,39,39
Q824,40,40,40,39,40,40,40,40,39,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,39,39,40,40,40,40,40,40,40,0,0,0,40,40,40,39,39,39,39,40
Q825,35,35,35,34,35,35,35,35,34,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,34,34,35,35,35,35,35,35,35,0,0,0,35,35,35,34,34,34,34,35
Q826,28,28,28,28,28,28,28,28,27,28,28,28,28,28,28,28,28,28,28,28,28,28,28,28,27,27,28,28,28,28,28,28,28,0,0,0,28,28,28,28,28,28,28,28
Q827,50,50,50,49,50,50,50,50,49,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,49,50,50,50,50,50,50,50,0,0,0,50,50,50,49,49,49,49,50
Q828,36,36,36,35,36,36,36,36,35,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,33,36,36,36,36,36,36,36,0,0,0,36,36,36,35,35,35,35,36
Q829,36,36,36,35,36,36,36,36,35,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,35,35,36,36,36,36,36,36,36,0,0,0,36,36,36,35,35,35,35,36
Q830,41,41,41,40,41,41,41,41,40,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,0,0,0,41,41,41,40,40,40,40,41
R831,70,70,70,69,70,70,70,70,69,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,68,70,70,70,70,70,70,70,0,0,0,70,70,70,69,69,69,69,70
X10C,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,0,0,0,45,45,45,45,45,45,45,45
X807,25,25,25,24,25,25,25,25,24,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,0,0,0,25,25,25,24,24,24,24,25
X808,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,0,0,0,36,36,36,36,36,36,36,36
X809,48,48,48,47,48,48,48,48,47,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,47,48,48,48,48,48,48,48,0,0,0,48,48,48,47,47,47,47,48
X810,58,58,58,57,58,58,58,58,57,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,57,57,58,58,58,58,58,58,58,0,0,0,58,58,58,57,57,57,57,58
X812,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,31,32,32,32,32,32,32,32,0,0,0,32,32,32,32,32,32,32,32

In [60]:
lcgms.drop(columns = ['ATS System Code','Location Code', 'Location Name', 'BEDS Number',
       'Managed By Name', 'Grades', 'Grades Final', 'Open Date',
       'Status Description', 'Building Code', 'Primary Address', 'City',
       'State Code', 
       'Community District', 'Council District', 'NTA', 'NTA_Name',
       'Principal Name', 'Principal Title', 'Principal Phone Number',
       'Fax Number', 
       'Administrative District Code', 'Administrative District Location Code',
       'Administrative District Name', 'Superintendent',
       'Superintendent Title', 'Superintendent Location Code',
       'Community School Sup Name', 'HighSchool Network Location Code',
       'HighSchool Network Name', 'HighSchool Network Superintendent',
       'Executive Superintendent Location code',
       'Executive Superintendent Name', 'Executive Superintendent Title',
       'BCO Location Code', 'BCO Location Name', 'BCO Executive Director',
       'BCO Executive Director Title'], inplace=True)

In [61]:
lcgms.rename(columns={'Location Type Description':'type', 'Location Category Description':'desc',
                      'Zip':'zip', 'Borough Block Lot':'boroughBlockLot', 'Census Tract':'censusTract', 'DBN':'dbn',
                     'Geographical District Code':'geoDis'}, inplace=True)

In [62]:
lcgms.to_csv('data/clean/lcgms.csv',index=False)

#### Demographics Data

In [63]:
demo = pd.read_excel('data/demo.xlsx', sheet_name = 'School')

In [64]:
demo[['sy','sqrYear']] = demo.Year.str.split("-", expand=True)

In [65]:
demo['sqrYear'] = '20'+demo['sqrYear']

In [66]:
demo.drop(columns = ['School Name', 'Year', 
       'Grade 3K+PK (Half Day & Full Day)', 'Grade K', 'Grade 1', 'Grade 2',
       'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8',
       '# Multiple Race Categories Not Represented', 'Economic Need Index',
       '% Multiple Race Categories Not Represented','sy'], inplace=True)

In [67]:
demo.rename(columns={'DBN':'dbn', 'Total Enrollment':'enrollment',  'Grade 9':'gr9', 'Grade 10':'gr10', 'Grade 11':'gr11',
                     'Grade 12':'gr12', '# Female':'female', '% Female': 'pctFemale', 
                     '# Male':'male', '% Male':'pctMale', '# Asian' : 'asian', '% Asian' : 'pctAsian',
                     '# Black': 'black', '% Black':'pctBlack', '# Hispanic':'hispanic', '% Hispanic':'pctHispanic',
                     '# White':'white', '% White':'pctWhite', '# Students with Disabilities':'swd',
                     '% Students with Disabilities':'pctSwd', '# English Language Learners':'ell', 
                     '% English Language Learners':'pctEll', '# Poverty':'poverty', '% Poverty':'pctPoverty'}, inplace=True)

In [68]:
demo.to_csv('data/clean/demo.csv',index=False)