### Download and Store Data Files

In [1]:
import os
import ssl
import sys
import urllib.request
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

#### Downloading the Files

In [2]:
gradurls = {'https://infohub.nyced.org/docs/default-source/default-document-library/2020-graduation_rates_public_school.xlsx': 'grad_rates.xlsx',
            'https://infohub.nyced.org/docs/default-source/default-document-library/2020-graduation_rates_public_charters.xlsx': 'charter_grad_rates.xlsx'}
sqrurls = {'https://infohub.nyced.org/docs/default-source/default-document-library/201920_hs_sqr_results.xlsx': 'sqr2020.xlsx',
           'https://infohub.nyced.org/docs/default-source/default-document-library/201819_hs_sqr_results.xlsx': 'sqr2019.xlsx',
           'https://infohub.nyced.org/docs/default-source/default-document-library/201718_hs_sqr_results.xlsx': 'sqr2018.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2016-17_hs_sqr.xlsx': 'sqr2017.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2015_2016_hs_sqr_results_2017_01_05.xlsx': 'sqr2016.xlsx',
           'http://infohub.nyced.org/docs/default-source/default-document-library/2014_2015_hs_sqr_results_2016_04_08.xlsx': 'sqr2015.xlsx'}
demourls = {'https://infohub.nyced.org/docs/default-source/default-document-library/demographic-snapshot-2015-16-to-2019-20-(public).xlsx': 'demo.xlsx'}
urls = [gradurls, sqrurls, demourls]

In [3]:
for url in urls:
    try:
        [urllib.request.urlretrieve(x, 'data/'+url[x]) for x in url]
    except:
        print("Trying the next url")

Trying the next url
Trying the next url
Trying the next url

#### Graduation Rate Files

In [4]:
gradrates = pd.read_excel('data/grad_rates.xlsx', sheet_name = "All")
charterrates = pd.read_excel('data/charter_grad_rates.xlsx', sheet_name = "All")

In [5]:
gradrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']].head()

,DBN,School Name,Cohort Year,Cohort,# Total Cohort,# Grads,# Dropout,# Still Enrolled
0,01M292,ORCHARD COLLEGIATE ACADEMY,2016,4 year August,31,29,1,1
1,01M292,ORCHARD COLLEGIATE ACADEMY,2015,4 year August,28,25,3,0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2014,4 year August,29,28,1,0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2013,4 year August,36,25,7,3
4,01M292,ORCHARD COLLEGIATE ACADEMY,2012,4 year August,44,24,10,10

In [6]:
charterrates[['DBN', 'School Name', 'Cohort Year', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']].head()

,DBN,School Name,Cohort Year,# Total Cohort,# Grads,# Dropout,# Still Enrolled
0,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2012,37,34,0,3
1,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2011,37,28,1,8
2,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2010,31,26,0,5
3,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2009,31,20,0,3
4,84K355,WILLIAMSBURG COLLEGIATE CHARTER SCHOOL,2012,37,34,0,3

In [7]:
all_grad_rates = pd.concat([gradrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']],
                            charterrates[['DBN', 'School Name', 'Cohort Year', 'Cohort', '# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']]], 
                           ignore_index=True)
all_grad_rates[['# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']] = all_grad_rates[['# Total Cohort', '# Grads', '# Dropout', '# Still Enrolled']].apply(pd.to_numeric, errors='coerce')

In [8]:
all_grad_rates.rename(columns={'DBN':'dbn',
                               'School Name':'schoolName',
                               'Cohort Year':'cohortYear', 
                               'Cohort':'cohort', 
                               '# Total Cohort':'totalCohortNum',
                               '# Grads':'gradsNum', '# Dropout':'dropoutNum', '# Still Enrolled':'stillEnrolledNum'}, inplace=True)

In [9]:
all_grad_rates.to_csv('data/clean/all_grad_rates.csv',index=False)

In [10]:
all_grad_rates.head()

,dbn,schoolName,cohortYear,cohort,totalCohortNum,gradsNum,dropoutNum,stillEnrolledNum
0,01M292,ORCHARD COLLEGIATE ACADEMY,2016,4 year August,31,29.0,1.0,1.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2015,4 year August,28,25.0,3.0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2014,4 year August,29,28.0,1.0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2013,4 year August,36,25.0,7.0,3.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2012,4 year August,44,24.0,10.0,10.0

#### SQR Files

In [11]:
tabs = ['Summary', 'Student Achievement', 'Closing the Achievement Gap', 'Framework', 'Additional Info']
sqr_files = ['sqr2020.xlsx', 'sqr2019.xlsx', 'sqr2018.xlsx', 'sqr2017.xlsx', 'sqr2016.xlsx', 'sqr2015.xlsx']

In [12]:
summary = {}
stud_achieve = {}
closing_gap = {}
framework = {}
add_info = {}

for f in sqr_files:
    summary[f] = pd.read_excel('data/'+f, sheet_name='Summary')
    stud_achieve[f] = pd.read_excel('data/'+f, sheet_name='Student Achievement')
    closing_gap[f] = pd.read_excel('data/'+f, sheet_name='Closing the Achievement Gap')
    framework[f] = pd.read_excel('data/'+f, sheet_name='Framework')
    add_info[f] = pd.read_excel('data/'+f, sheet_name='Additional Info')

In [13]:
summary['sqr2020.xlsx'].columns = summary['sqr2020.xlsx'].iloc[2]
summary['sqr2019.xlsx'].columns = summary['sqr2019.xlsx'].iloc[2]
summary['sqr2018.xlsx'].columns = summary['sqr2018.xlsx'].iloc[0]
summary['sqr2017.xlsx'].columns = summary['sqr2017.xlsx'].iloc[0]
summary['sqr2016.xlsx'].columns = summary['sqr2016.xlsx'].iloc[0]
summary['sqr2015.xlsx'].columns = summary['sqr2015.xlsx'].iloc[0]

In [14]:
summary_cols = ['DBN','Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']
summary['sqr2019.xlsx'] = summary['sqr2019.xlsx'][summary_cols]
summary['sqr2018.xlsx'] = summary['sqr2018.xlsx'][summary_cols]
summary['sqr2017.xlsx'] = summary['sqr2017.xlsx'][summary_cols]
summary['sqr2016.xlsx'] = summary['sqr2016.xlsx'][summary_cols]
summary['sqr2015.xlsx'] = summary['sqr2015.xlsx'][summary_cols]

In [15]:
summary['sqr2020.xlsx'] = summary['sqr2020.xlsx'][['DBN','Enrollment',
                         'Student Percent - Asian','Student Percent - Black','Student Percent - Hispanic',
                         'Student Percent - White', 'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                         'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                         'Average Student Attendance (through Feb-2020 only)',
                         'Percent of Students Chronically Absent (through Feb-2020 only)']]

In [16]:
summary['sqr2020.xlsx'].rename(columns={'Student Percent - Asian':'Percent Asian',
                                        'Student Percent - Black':'Percent Black',
                                        'Student Percent - Hispanic': 'Percent Hispanic',
                                        'Student Percent - White': 'Percent White', 
                                        'Average Student Attendance (through Feb-2020 only)' : 'Student Attendance Rate',
                                        'Percent of Students Chronically Absent (through Feb-2020 only)':'Percent of Students Chronically Absent'}, inplace=True)

In [17]:
summary['sqr2020.xlsx']['SQR Year'] = '2020'
summary['sqr2019.xlsx']['SQR Year'] = '2019'
summary['sqr2018.xlsx']['SQR Year'] = '2018'
summary['sqr2017.xlsx']['SQR Year'] = '2017'
summary['sqr2016.xlsx']['SQR Year'] = '2016'
summary['sqr2015.xlsx']['SQR Year'] = '2015'

In [18]:
summary_df = pd.concat(summary).reset_index().drop(['level_0', 'level_1'], axis = 1)
summary_df = summary_df[summary_df.DBN != 'DBN']

In [19]:
summary_df[['Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']] = summary_df[['Enrollment', 'Percent Asian', 'Percent Black','Percent Hispanic', 'Percent White',
                'Percent English Language Learners','Percent Students with Disabilities','Percent Self-Contained',
                'Economic Need Index','Average Grade 8 English Proficiency','Average Grade 8 Math Proficiency',
                'Student Attendance Rate', 'Percent of Students Chronically Absent']].apply(pd.to_numeric, errors='coerce')

In [20]:
stud_achieve['sqr2020.xlsx'].columns = stud_achieve['sqr2020.xlsx'].iloc[2]
stud_achieve['sqr2019.xlsx'].columns = stud_achieve['sqr2019.xlsx'].iloc[2]
stud_achieve['sqr2018.xlsx'].columns = stud_achieve['sqr2018.xlsx'].iloc[0]
stud_achieve['sqr2017.xlsx'].columns = stud_achieve['sqr2017.xlsx'].iloc[0]
stud_achieve['sqr2016.xlsx'].columns = stud_achieve['sqr2016.xlsx'].iloc[0]
stud_achieve['sqr2015.xlsx'].columns = stud_achieve['sqr2015.xlsx'].iloc[0]

In [21]:
sqrcols = ["DBN", "N count - 10+ Credits in 1st Year - All Students",
                              "Metric Value - 10+ Credits in 1st Year - All Students",
                              "N count - 10+ Credits in 1st Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                              "N count - 10+ Credits in 2nd Year - All Students",
                              "Metric Value - 10+ Credits in 2nd Year - All Students",
                              "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                              "N count - 10+ Credits in 3rd Year - All Students",
                              "Metric Value - 10+ Credits in 3rd Year - All Students",
                              "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]
stud_achieve['sqr2020.xlsx'] = stud_achieve['sqr2020.xlsx'][sqrcols]
stud_achieve['sqr2019.xlsx'] = stud_achieve['sqr2019.xlsx'][sqrcols]
stud_achieve['sqr2018.xlsx'] = stud_achieve['sqr2018.xlsx'][sqrcols]
stud_achieve['sqr2017.xlsx'] = stud_achieve['sqr2017.xlsx'][sqrcols]

sqrcols = ["DBN", "Metric Value - Percentage Earning 10+ Credits in First Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year",
           "Metric Value - Percentage Earning 10+ Credits in Second Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year",
           "Metric Value - Percentage Earning 10+ Credits in Third Year",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year"]
stud_achieve['sqr2015.xlsx'] = stud_achieve['sqr2015.xlsx'][sqrcols]
stud_achieve['sqr2016.xlsx'] = stud_achieve['sqr2016.xlsx'][sqrcols]

In [22]:
sqrcols = {"Metric Value - Percentage Earning 10+ Credits in First Year":"Metric Value - 10+ Credits in 1st Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in First Year": "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
           "Metric Value - Percentage Earning 10+ Credits in Second Year" : "Metric Value - 10+ Credits in 2nd Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Second Year": "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
           "Metric Value - Percentage Earning 10+ Credits in Third Year": "Metric Value - 10+ Credits in 3rd Year - All Students",
           "Metric Value - Lowest Third School, Percentage Earning 10+ Credits in Third Year": "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"}
stud_achieve['sqr2015.xlsx'].rename(columns = sqrcols, inplace=True)
stud_achieve['sqr2016.xlsx'].rename(columns = sqrcols, inplace=True)

In [23]:
stud_achieve['sqr2020.xlsx']['SQR Year'] = '2020'
stud_achieve['sqr2019.xlsx']['SQR Year'] = '2019'
stud_achieve['sqr2018.xlsx']['SQR Year'] = '2018'
stud_achieve['sqr2017.xlsx']['SQR Year'] = '2017'
stud_achieve['sqr2016.xlsx']['SQR Year'] = '2016'
stud_achieve['sqr2015.xlsx']['SQR Year'] = '2015'

In [24]:
stud_achieve_df = pd.concat(stud_achieve).reset_index().drop(['level_0', 'level_1'], axis=1)
stud_achieve_df = stud_achieve_df[stud_achieve_df.DBN != 'DBN']

/Users/mguan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [25]:
stud_achieve_df[["N count - 10+ Credits in 1st Year - All Students", "Metric Value - 10+ Credits in 1st Year - All Students",
                 "N count - 10+ Credits in 1st Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                 "N count - 10+ Credits in 2nd Year - All Students",
                 "Metric Value - 10+ Credits in 2nd Year - All Students",
                 "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                 "N count - 10+ Credits in 3rd Year - All Students",
                 "Metric Value - 10+ Credits in 3rd Year - All Students",
                 "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                 "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]] = stud_achieve_df[["N count - 10+ Credits in 1st Year - All Students",
                              "Metric Value - 10+ Credits in 1st Year - All Students",
                              "N count - 10+ Credits in 1st Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 1st Year - School's Lowest Third",
                              "N count - 10+ Credits in 2nd Year - All Students",
                              "Metric Value - 10+ Credits in 2nd Year - All Students",
                              "N count - 10+ Credits in 2nd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third",
                              "N count - 10+ Credits in 3rd Year - All Students",
                              "Metric Value - 10+ Credits in 3rd Year - All Students",
                              "N count - 10+ Credits in 3rd Year - School's Lowest Third",
                              "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third"]].apply(pd.to_numeric, errors='coerce')

In [26]:
sqr_df = summary_df.merge(stud_achieve_df, how='inner', left_on = ['DBN', 'SQR Year'], right_on = ['DBN', 'SQR Year'])

In [27]:
sqr_df.rename(columns={"DBN":'dbn', "Enrollment":'enrollment', "Percent Asian":'pctAsian' , "Percent Black":'pctBlack',
                       "Percent Hispanic":'pctHispanic', "Percent White":'pctWhite',
                       "Percent English Language Learners":'pctEll',
                       "Percent Students with Disabilities":'pctSwd',
                       "Percent Self-Contained":'pctSelfContained',
                       "Economic Need Index":'econNeed',
                       "Average Grade 8 English Proficiency": 'grd8Ela',
                       "Average Grade 8 Math Proficiency": 'grd8Math',
                       "Student Attendance Rate": 'attdRate',
                       "Percent of Students Chronically Absent" : 'pctChronAbs',
                       "SQR Year": 'sqrYear',
                       "Metric Value - 10+ Credits in 1st Year - All Students" : 'pct10PlusYear1',
                       "Metric Value - 10+ Credits in 1st Year - School's Lowest Third" : 'pct10PlusYear1Lowest3rd',
                       "Metric Value - 10+ Credits in 2nd Year - All Students" : 'pct10PlusYear2',
                       "Metric Value - 10+ Credits in 2nd Year - School's Lowest Third" : 'pct10PlusYear2Lowest3rd',
                       "Metric Value - 10+ Credits in 3rd Year - All Students" : 'pct10PlusYear3',
                       "Metric Value - 10+ Credits in 3rd Year - School's Lowest Third" : 'pct10PlusYear3Lowest3rd',
                       "N count - 10+ Credits in 1st Year - All Students" : 'num10PlusYear1',
                       "N count - 10+ Credits in 1st Year - School's Lowest Third" : 'num10PlusYear1Lowest3rd',
                       "N count - 10+ Credits in 2nd Year - All Students" : 'num10PlusYear2',
                       "N count - 10+ Credits in 2nd Year - School's Lowest Third" : 'num10PlusYear2Lowest3rd',
                       "N count - 10+ Credits in 3rd Year - All Students" : 'num10PlusYear3',
                       "N count - 10+ Credits in 3rd Year - School's Lowest Third": 'num10PlusYear3Lowest3rd'}, inplace=True)

In [28]:
sqr_df.to_csv('data/clean/sqr.csv',index=False)

#### Location Data

In [29]:
lcgms = pd.read_excel('data/lcgms.xlsx', sheet_name='lcgms')

In [30]:
lcgms['DBN'] = lcgms['ATS System Code'].str.strip()

In [31]:
lcgms.columns

Index(['ATS System Code', 'Location Code', 'Location Name', 'BEDS Number',
       'Managed By Name', 'Location Type Description',
       'Location Category Description', 'Grades', 'Grades Final', 'Open Date',
       'Status Description', 'Building Code', 'Primary Address', 'City',
       'State Code', 'Zip', 'Borough Block Lot', 'Census Tract',
       'Community District', 'Council District', 'NTA', 'NTA_Name',
       'Principal Name', 'Principal Title', 'Principal Phone Number',
       'Fax Number', 'Geographical District Code',
       'Administrative District Code', 'Administrative District Location Code',
       'Administrative District Name', 'Superintendent',
       'Superintendent Title', 'Superintendent Location Code',
       'Community School Sup Name', 'HighSchool Network Location Code',
       'HighSchool Network Name', 'HighSchool Network Superintendent',
       'Executive Superintendent Location code',
       'Executive Superintendent Name', 'Executive Superintendent Title',
       'BCO Location Code', 'BCO Location Name', 'BCO Executive Director',
       'BCO Executive Director Title', 'DBN'],
      dtype='object')

In [32]:
lcgms.groupby(['Administrative District Location Code']).count()

,ATS System Code,Location Code,Location Name,BEDS Number,Managed By Name,Location Type Description,Location Category Description,Grades,Grades Final,Open Date,...,HighSchool Network Name,HighSchool Network Superintendent,Executive Superintendent Location code,Executive Superintendent Name,Executive Superintendent Title,BCO Location Code,BCO Location Name,BCO Executive Director,BCO Executive Director Title,DBN
Administrative District Location Code,,,,,,,,,,,,,,,,,,,,,
DA75,61,61,61,61,61,61,61,61,61,61,...,0,0,0,0,0,61,61,61,61,61
DA79,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
HS01,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
HS02,39,39,39,39,39,39,39,39,39,39,...,39,39,39,39,39,39,39,39,39,39
HS03,41,41,41,41,41,41,41,41,41,41,...,41,41,41,41,41,41,41,41,41,41
HS04,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
HS05,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
HS06,26,26,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
HS07,60,60,60,60,60,60,60,60,60,60,...,60,60,60,60,60,60,60,60,60,60
HS08,29,29,29,29,29,29,29,29,29,29,...,29,29,29,29,29,29,29,29,29,29
HS09,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
HS10,42,42,42,42,42,42,42,42,42,42,...,42,42,42,42,42,42,42,42,42,42
HS12,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
K03G,29,29,29,28,29,29,29,29,28,29,...,0,0,29,29,29,28,28,28,28,29
K813,27,27,27,26,27,27,27,27,26,27,...,0,0,27,27,27,26,26,26,26,27
K814,26,26,26,26,26,26,26,26,26,26,...,0,0,26,26,26,26,26,26,26,26
K815,38,38,38,36,38,38,38,38,36,38,...,0,0,38,38,38,36,36,36,36,38
K816,19,19,19,19,19,19,19,19,19,19,...,0,0,19,19,19,19,19,19,19,19
K817,32,32,32,32,32,32,32,32,32,32,...,0,0,32,32,32,32,32,32,32,32
K818,20,20,20,20,20,20,20,20,20,20,...,0,0,20,20,20,20,20,20,20,20
K819,35,35,35,35,35,35,35,35,34,35,...,0,0,35,35,35,35,35,35,35,35
K820,41,41,41,40,41,41,41,41,39,41,...,0,0,41,41,41,40,40,40,40,41
K822,35,35,35,34,35,35,35,35,34,35,...,0,0,35,35,35,34,34,34,34,35
K823,23,23,23,23,23,23,23,23,23,23,...,0,0,23,23,23,23,23,23,23,23
K832,19,19,19,19,19,19,19,19,19,19,...,0,0,19,19,19,19,19,19,19,19
M801,20,20,20,20,20,20,20,20,20,20,...,0,0,20,20,20,20,20,20,20,20
M802,50,50,50,49,50,50,50,50,49,50,...,0,0,50,50,50,49,49,49,49,50
M803,30,30,30,30,30,30,30,30,30,30,...,0,0,30,30,30,30,30,30,30,30
M804,23,23,23,23,23,23,23,23,23,23,...,0,0,23,23,23,23,23,23,23,23
M805,23,23,23,23,23,23,23,23,23,23,...,0,0,23,23,23,23,23,23,23,23
M806,39,39,39,39,39,39,39,39,39,39,...,0,0,39,39,39,39,39,39,39,39
Q824,40,40,40,39,40,40,40,40,39,40,...,0,0,40,40,40,39,39,39,39,40
Q825,35,35,35,34,35,35,35,35,34,35,...,0,0,35,35,35,34,34,34,34,35
Q826,28,28,28,28,28,28,28,28,27,28,...,0,0,28,28,28,28,28,28,28,28
Q827,50,50,50,49,50,50,50,50,49,50,...,0,0,50,50,50,49,49,49,49,50
Q828,36,36,36,35,36,36,36,36,35,36,...,0,0,36,36,36,35,35,35,35,36
Q829,36,36,36,35,36,36,36,36,35,36,...,0,0,36,36,36,35,35,35,35,36
Q830,41,41,41,40,41,41,41,41,40,41,...,0,0,41,41,41,40,40,40,40,41
R831,70,70,70,69,70,70,70,70,69,70,...,0,0,70,70,70,69,69,69,69,70
X10C,45,45,45,45,45,45,45,45,45,45,...,0,0,45,45,45,45,45,45,45,45
X807,25,25,25,24,25,25,25,25,24,25,...,0,0,25,25,25,24,24,24,24,25
X808,36,36,36,36,36,36,36,36,36,36,...,0,0,36,36,36,36,36,36,36,36
X809,48,48,48,47,48,48,48,48,47,48,...,0,0,48,48,48,47,47,47,47,48
X810,58,58,58,57,58,58,58,58,57,58,...,0,0,58,58,58,57,57,57,57,58
X812,32,32,32,32,32,32,32,32,32,32,...,0,0,32,32,32,32,32,32,32,32

In [33]:
lcgms.drop(columns = ['ATS System Code','Location Code', 'Location Name', 'BEDS Number',
       'Managed By Name', 'Grades', 'Grades Final', 'Open Date',
       'Status Description', 'Building Code', 'Primary Address', 'City',
       'State Code', 
       'Community District', 'Council District', 'NTA', 'NTA_Name',
       'Principal Name', 'Principal Title', 'Principal Phone Number',
       'Fax Number', 
       'Administrative District Code', 'Administrative District Location Code',
       'Administrative District Name', 'Superintendent',
       'Superintendent Title', 'Superintendent Location Code',
       'Community School Sup Name', 'HighSchool Network Location Code',
       'HighSchool Network Name', 'HighSchool Network Superintendent',
       'Executive Superintendent Location code',
       'Executive Superintendent Name', 'Executive Superintendent Title',
       'BCO Location Code', 'BCO Location Name', 'BCO Executive Director',
       'BCO Executive Director Title'], inplace=True)

In [34]:
lcgms.rename(columns={'Location Type Description':'type', 'Location Category Description':'desc',
                      'Zip':'zip', 'Borough Block Lot':'boroughBlockLot', 'Census Tract':'censusTract', 'DBN':'dbn',
                     'Geographical District Code':'geoDis'}, inplace=True)

In [35]:
lcgms.to_csv('data/clean/lcgms.csv',index=False)

#### Demographics Data

In [48]:
demo = pd.read_excel('data/demo.xlsx', sheet_name = 'School')

In [49]:
demo[['sy','sqrYear']] = demo.Year.str.split("-", expand=True)

In [50]:
demo['sqrYear'] = '20'+demo['sqrYear']

In [51]:
demo.drop(columns = ['School Name', 'Year', 
       'Grade 3K+PK (Half Day & Full Day)', 'Grade K', 'Grade 1', 'Grade 2',
       'Grade 3', 'Grade 4', 'Grade 5', 'Grade 6', 'Grade 7', 'Grade 8',
       '# Multiple Race Categories Not Represented',
       '% Multiple Race Categories Not Represented','sy'], inplace=True)

In [52]:
demo.rename(columns={'DBN':'dbn', 'Total Enrollment':'enrollment',  'Grade 9':'gr9', 'Grade 10':'gr10', 'Grade 11':'gr11',
                     'Grade 12':'gr12', '# Female':'female', '% Female': 'pctFemale', 
                     '# Male':'male', '% Male':'pctMale', '# Asian' : 'asian', '% Asian' : 'pctAsian',
                     '# Black': 'black', '% Black':'pctBlack', '# Hispanic':'hispanic', '% Hispanic':'pctHispanic',
                     '# White':'white', '% White':'pctWhite', '# Students with Disabilities':'swd',
                     '% Students with Disabilities':'pctSwd', '# English Language Learners':'ell', 
                     '% English Language Learners':'pctEll', '# Poverty':'poverty', '% Poverty':'pctPoverty', 
                     'Economic Need Index':'econNeedInd'}, inplace=True)

In [53]:
demo.to_csv('data/clean/demo.csv',index=False)